<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<form class="client-form" enctype="multipart/form-data">
				<div class="add-user mtb20px">
					<div class="col-sm-12">
						<div class="form-group">
							<input type="file" file-model = "userProfile"/>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>First Name</label>
							<input type="text" placeholder="First Name" class="form-control" ng-model="user.firstName" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" placeholder="Last Name" class="form-control" ng-model="user.lastName" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Select Client</label>
							<input type="text" placeholder="Select Client" class="form-control" ng-model="newUserClientName" ng-keyup="selectClientUser($event, newUserClientName)"
							/>
							<li ng-repeat="(key,value) in existingClient" ng-click="selectedClientInUser(value)" onchange="newUserClientName">
								<ng-if value.id==></ng-if>
								{{value.clientName}}
							</li>

						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Email</label>
							<input type="email" placeholder="Enter Email id" class="form-control" ng-model="user.email" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Password</label>
							<input type="password" placeholder="Password" class="form-control" ng-model="user.password" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Re-Enter Password</label>
							<input type="text" placeholder="Re-Enter Password" ng-model="user.rePassword" class="form-control" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Phone</label>
							<input type="text" placeholder="Phone Number" ng-model="efwfew" class="form-control" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Role</label>
							<div class="socioselect form-control">
								<select id="select-state" placeholder="Select Role" ng-model="userdede" class="simp-select">
														<option value="aa" class="Selected">Select Role</option>
														<option  ng-repeat="role in existRoleData" >{{role.name}}</option>
													</select>
							</div>
						</div>
					</div>


					<div class="setting-content">
						<label>Permission</label>
						<div class="socio-table table-responsive">
							<table class="table table-striped table-bordered table-hover settings">
								<thead>
									<th></th>
									<th>All </th>
									<th>Create</th>
									<th>Read </th>
									<th>Update</th>
									<th>Delete</th>
								</thead>
								<tbody>

									<tr ng-model="row1">

										<td><label>Manage User</label></td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="all" id="row11" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="create" id="row12" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="read" id="row13" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="update" id="row14" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="delete" id="row15" value="" checked><span></span>
																	</label>
											</div>
										</td>
									</tr>

									<tr ng-model="row2">
										<td><label>Manage Campaign</label></td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="all" id="row21" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="create" id="row22" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="read" id="row23" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="update" id="row24" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="delete" id="row25" value=""><span></span>
																	</label>
											</div>
										</td>
									</tr>

									<tr ng-model="row3">
										<td><label>Compose Message</label></td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="all" id="row31" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="create" id="row32" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="read" id="row33" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="update" id="row34" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="delete" id="row35" value="" ><span></span>
																	</label>
											</div>
										</td>
									</tr>

									<tr ng-model="row4">
										<td><label>Approve Content</label></td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="all" id="row41" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="create" id="row42" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="read" id="row43" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="update" id="row44" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="delete" id="row45" value=""><span></span>
																	</label>
											</div>
										</td>
									</tr>

									<tr ng-model="row5">
										<td><label>Add Client</label></td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="all" id="row51" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="create" id="row52" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="read" id="row53" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="update" id="row54" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="delete" id="row55" value=""><span></span>
																	</label>
											</div>
										</td>
									</tr>

									<tr ng-model="row6">
										<td><label>Social Accounts</label></td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="all" id="row61" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="create" id="row62" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="read" id="row63" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="update" id="row64" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="delete" id="row65" value=""><span></span>
																	</label>
											</div>
										</td>
									</tr>

									<tr ng-model="row7">
										<td><label>Schedule Message</label></td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="all" id="row71" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="create" id="row72" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="read" id="row73" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="update" id="row74" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="delete" id="row75" value=""><span></span>
																	</label>
											</div>
										</td>
									</tr>

									<tr ng-model="row8">
										<td><label>Team Reports</label></td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="all" id="row81" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="create" id="row82" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="read" id="row83" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="update" id="row84" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="delete" id="row85" value="" ><span></span>
																	</label>
											</div>
										</td>
									</tr>

									<tr ng-model="row9">
										<td><label>Campaign Report</label></td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="all" id="row91" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="create" id="row92" value=""><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="read" id="row93" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="update" id="row94" value="" ><span></span>
																	</label>
											</div>
										</td>
										<td>
											<div class="check-box">
												<label class="vote-check">
																		<input type="checkbox" name="delete" id="row95" value=""><span></span>
																	</label>
											</div>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="btnbox">
					<div class=" pull-right">
						<button type="submit" class="btn btn-compose" ng-click="createNewUser()">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>