<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<form class="client-form">
				<div class="add-user mtb20px ">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Role Name:</label>
							<input type="text" placeholder="Approver" class="form-control" ng-model="createRoleName" />
						</div>
					</div>

					<div class="setting-content">
						<label>Permission</label>
						<div class="socio-table table-responsive readonly-table" >
							<table class="table table-striped table-bordered table-hover settings">
								<thead>
									<th></th>
									<th>All </th>
									<th>Create</th>
									<th>Read </th>
									<th>Update</th>
									<th>Delete</th>
								</thead>
								<tbody>
									<tr ng-repeat="(key, entity) in existRoleData">
										<td><label>{{entity.name}} </label></td>

										<td>
											<div class="check-box">
												<label class="vote-check">
												    
											<input type="checkbox" ng-model="check" ng-click="checkAll(entity.id,check,key)" ng-checked="entity.checkAll=='1'">
     											<span></span>
												</label>
											</div>
										</td> 

										<td ng-repeat="(k, value) in entity.role_permissions">
											
											<div class="check-box">
												<label class="vote-check">
													<input type="checkbox" ng-model="checkInd" ng-checked="entity.role_permissions[k].status=='1'" ng-click="checkIndCheck(entity.id,checkInd,entity.role_permissions[k].name)">
													<span></span>
												</label>
											</div>
										</td> 

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				<div class="btnbox">
					<div class=" pull-right">
						<button type="submit" class="btn btn-compose" ng-click="createNewRole()">Edit</button>
					</div>
				</div>
				</div>
			</form>
		</div>
	</div>
</div>