<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 mtb20px">
			<form class="client-form">
				<div class="col-sm-12">
					<div class="form-group ">
						<div class="row">
							<div class="col-sm-3">
								<label class="pt10px pull-right">Team Name:</label>
							</div>
							<div class="col-sm-9">
								<input type="text" placeholder=" Team A" class="form-control" ng-model = "teamName"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-3">
								<label class="pt10px pull-right">User:</label>
							</div>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-sm-12">
										<input type="text" placeholder="User" ng-model="teamUserInput" ng-keyup="addTeamUser($event, teamUserInput)" class="form-control" />
										<ul id="suggestion">
											<li ng-repeat="(key,value) in teamMembers" ng-click="selectedUserInTeam(value)" onchange="teamUserInput">
												<ng-if value.id== ></ng-if>
												{{value.firstName + ' ' + value.lastName}}
											</li>
										</ul>
									</div>
									<div class="col-sm-12">
										<ul class="team-listing pl0px">
											<li ng-repeat="user in userInTeam" onchange="teamUserInput">
												<label>{{user}} </label><span>
												<span class="close-sm-icon" ></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-3">
								<label class="pt10px pull-right">Content Approver:</label>
							</div>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-sm-12"><input type="text" placeholder="Approver name" class="form-control" ng-model="teamCreatedBy" /></div>
									<div class="col-sm-12">
										<ul class="team-listing pl0px mtb20px">
											<li><label>Ajay Kumar </label><span><i class="close-sm-icon"></i></span></li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group mt10px">
						<div class="row">
							<div class="col-sm-3">

							</div>
							<div class="col-sm-9">
								<input type="button" class="btn btn-compose" value="Save" ng-click="createNewTeam()" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>