<div class="login-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 mt5rem">
						<img class="logo img-responsive center-block" src="{{imageUrl}}logo.png" alt="Socioseer" />
					</div>
					<div class="col-sm-4 col-sm-offset-4">
						<div class="login-form">
							<div class="user">
								<img src="{{imageUrl}}user.png" class="img-responsive center-block user-img" alt="user image" />
							</div>
							<form>
							<div class="error-msg">{{errorMsgLogin}}</div>
								<div class="col-sm-12 plr10px">

									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon" id="username"><i class="fa fa-user"></i></span>
											<input type="text" class="form-control" ng-model="email" placeholder="Username" aria-describedby="username" />
										</div>
									</div>
								</div>
								<div class="col-sm-12 plr10px">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon" id="password"><i class="fa fa-lock"></i></span>
											<input type="password" class="form-control" ng-model="password" placeholder="Password" aria-describedby="password" />
										</div>
									</div>
								</div>
								<div class="col-sm-12 plr10px">
									<div class="row">
										<div class="col-md-6 col-sm-12 check-box">
											<label class="vote-check" >
												<input type="checkbox" ng-model="remember" ng-click="rememberMe(remember)" name="optionsRadios" id="" value=""><span>Keep me logged in</span>												
											</label>											
										</div>
										<div class="col-md-6 col-sm-12">
											<a href="#"><label class="form-label pull-right">Forgot Password</label></a>
										</div>
									</div>
								</div>
								<!--<div class="col-sm-12 plr10px ac">
									<button type="button" class="btn btn-login">Login</button>
								</div>-->
								<div class="col-sm-12 plr10px ac">
									<button type="submit" ng-click="validateUser(email,password)" class="btn btn-login">Login <span class="arrow-icon flaticon-keyboard-right-arrow-button"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<p class="copy-line">Copyright 2017 WNS Socioseer Data Sciences. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>-->
		</div>