<div class="container-fluid">
    <div class="row">
		<form class="client-form">
			<div class="col-sm-3 mt20px">
				<a ui-sref="createTeam" class="btn btn-default"  ><span class="add-icon"></span> Create Team</a>
			</div>
			<div class="col-sm-4 pull-right mt20px">
				<div class="form-group">
					<div class="input-group">															
						<input type="text" class="form-control input-text-addon" placeholder="Search" />
						<span class="input-group-addon search-icon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
		</form>
        <div class="col-sm-12">
            <form class="client-form">
                <div class="add-client">

                    <div class="setting-content">
                        <div class="socio-table table-responsive">
                            <table class="table table-striped table-bordered table-hover settings">
                                <thead>
                                    <th class="xs-width">S.No</th>
                                    <th class="fix-width">Team Name <i class="fa fa-sort-amount-asc fr asc-sort" aria-hidden="true"></i></th>
                                    <th class="sm-width">No. Of User</th>
                                    <th>Approver </th>
                                    <th class="lg-width">Action</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in teamListData">
                                        <td>{{key+1}}</td>
                                        <td><label>{{value.name}}</label></td>
                                        <td>{{value.users.length}}</td>
                                        <td>{{value.createdBy}}</td>
                                        <td>
                                            <ul class="action-listing pl0px">
                                                <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> </a></li>
                                                <li><a ng-click="send(value.id)" ui-sref="viewTeam({teamData: value})"><i class="fa fa-eye" aria-hidden="true"></i> </a></li>
                                                <li><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> </a></li>
                                                <li>
                                                    <label class="switch">
																			<input class="switch-input" type="checkbox"  />
																			<span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> 
																		</label>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>

                                    <!--
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <label>Team Sony</label>
                                        </td>
                                        <td>40</td>
                                        <td>
                                            <label>Kamla</label>
                                        </td>
                                        <td>
                                            <ul class="action-listing pl0px">
                                                <li><a href="#†"><i class="fa fa-pencil" aria-hidden="true"></i> </a></li>
                                                <li><a href="view-team.html"><i class="fa fa-eye" aria-hidden="true"></i> </a></li>
                                                <li><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> </a></li>
                                                <li>
                                                    <label class="switch">
                                                                <input class="switch-input" type="checkbox" />
                                                                <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span>
                                                            </label>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>-->
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="page-nation mt20px">
                    <ul class="pagination pagination-large">
                        <li class="disabled"><a rel="next" href="#">Prev</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a rel="next" href="#">Next</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>