<div class="container-fluid">
	<div class="row">
		<form class="client-form">
			<div class="col-sm-3 mt20px">
				<a ui-sref="createRole" class="btn btn-default"  ><span class="add-icon"></span> Create Role</a>
			</div>
			<div class="col-sm-4 pull-right mt20px">
				<div class="form-group">
					<div class="input-group">															
						<input type="text" class="form-control input-text-addon" placeholder="Search" />
						<span class="input-group-addon search-icon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
		</form>
		<div class="col-sm-12">
			<form class="client-form">
				<div class="add-user mtb20px ">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Role Name:</label>
							<input type="text" placeholder="Approver" class="form-control" ng-model="existRoleData.name" />
						</div>
					</div>



					<div class="setting-content">
						<label>Permission</label>
						<div class="socio-table table-responsive readonly-table">
							<table class="table table-striped table-bordered table-hover settings">
								<thead>

									<th class="xs-width">S.No</th>
									<th>Name <i class="fa fa-sort-amount-asc fr asc-sort" aria-hidden="true"></i></th>
									<th>Action</th>
								</thead>
								<tbody>
									<tr ng-repeat="(key, entity) in existRoleData">
										<td><label>{{entity.name}} </label></td>

										<td>

											<ul class="action-listing pl0px">
												<li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> </a></li>
												<li><a ng-click="createRoleData(value)" ui-sref="editRole()"><i class="fa fa-eye" aria-hidden="true"></i> </a></li>
												<li><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> </a></li>
												<li>
													<label class="switch">
														<input class="switch-input" type="checkbox"  />
														<span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> 
													</label>
												</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="btnbox">
					<div class=" pull-right">
						<button type="submit" ng-click="editRoleView()" class="btn btn-compose">Edit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>