<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 mtb20px">
			<form class="client-form">
				<div class="col-sm-12">
					<div class="form-group ">
						<div class="row">
							<div class="col-sm-3">
								<label class="pt10px pull-right">Team Name:</label>
							</div>
							<div class="col-sm-9">
								<input type="text" placeholder="{{ teamData.name }}" class="form-control" readonly />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-3">
								<label class="pt10px pull-right">User:</label>
							</div>
							<div class="col-sm-9">
								<div class="row">

									<div class="col-sm-12">
										<div class="view-listing form-control">
											<ul class="team-listing pl0px ">
												
												<li ng-repeat="user in teamData.users">
													<label>{{ user }} </label>
													<span><i class="close-sm-icon"></i></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-3">
								<label class="pt10px pull-right">Content Approver:</label>
							</div>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-sm-12"><input type="text" placeholder="{{teamData.createdBy}}" class="form-control" readonly /></div>

								</div>
							</div>
						</div>
					</div>
					<div class="form-group mt10px">
						<div class="row">
							<div class="col-sm-3">

							</div>
							<div class="col-sm-9 ">
								<input type="button" class="btn btn-compose pull-right" value="Edit" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
