/*******************
.nav-side-menu {
  overflow: auto;
  font-weight: 400;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  width: 260px;
  height: 100%;
  color: #1d2b36;
  box-shadow: 0 0px 10px rgba(8,8,8,.35);
  transition:all .3s ease;
}
.nav-side-menu-slide{
	width: 60px !important;
}
.nav-side-menu .brand {
  background-color: #5187c3;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  height: 72px;
}
.nav-side-menu  .menu-name{
	display: inline-block;
}
.nav-side-menu-slide .menu-name{
	display: inline-block;
	width: 0px;
	opacity: 0;
}
.nav-side-menu-slide .flaticon-next{display:none !important}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 45px;
  cursor: pointer;
  height: auto !important;
 


.nav-side-menu ul :not(collapsed) .flaticon-next:before,
.nav-side-menu li :not(collapsed) .flaticon-next:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {  
  background-color: #eef0f2;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #5187c3;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #5187c3;
}
.nav-side-menu ul .sub-menu .active:before{ 
	color: #5187c3;
}
.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
    background-color: #ffffff;
    border: none;
    line-height: 45px;
    margin-left: 0px;
	padding-left:10px;
}
.nav-side-menu ul .sub-menu li:hover a,
.nav-side-menu li .sub-menu li:hover a {
  color:#5187c3;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f111";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  font-size: 10px;
  color:#a8a8a8;
}
.nav-side-menu li {
    padding-left: 0px;
    border-bottom: 1px solid #fff;
    background: #eef0f2;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #1d2b36;
  font-size: 1.5rem;
}
.nav-side-menu li a i {
    padding-left: 20px;
    width: 50px;
    color: #9da6ad;
}
.nav-side-menu li:hover {
  background-color:#C4C4C4;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
li.collapsed .flaticon-next:before{content: "\f102";font-family: Flaticon;}
li .flaticon-next:before{content: "\f101";font-family: Flaticon;}
.metismenu .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
*/
/***********************************
.right-side {
    margin-left: 260px;
    background: #ffffff;
    height: 100vh;
}
.right-side-slide{margin-left: 60px !important;}
.header {
    padding: 10px 20px;
    border-bottom: 1px solid #f1f1f1;
    height: 73px;
}
.profile-pic {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
.user-name {
    font-size: 1.8rem;
    font-weight: 400;
    display: block;
	color:#3c3c3c;
}
.user-role {
    font-size: 1.4rem;
    font-weight: 300;
    display: block;
    color: #757575;
}
.user-role i::before {
    font-size: 1.2rem;
}
.notification-icon {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #0c97d3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: 0px;
}
.notification {
    margin-top: 15px;
    position: relative;
}
.toggle-btn {
    display: inline-block;
    font-size: 20px;
    color: #282828;
    margin-top: 5px;
}
span.flaticon-next {
    display: inline !important;
}*/