<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="campaign-title">'This is bullshit': An open letter to adland from a working mum</h3>
								<label class="note">March 09, 2017   to   March 12, 2017</label>
								
								<div class="campaign">
								<!-- Nav tabs -->
									<ul class="nav nav-tabs pl15px" role="tablist">
										<li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" class="platform-icon">All</a></li>
										<li role="presentation"><a href="#facebook" aria-controls="facebook" role="tab" data-toggle="tab" class="platform-icon"><i class="fa fa-facebook"></i> Facebook</a></li>
										<li role="presentation"><a href="#twitter" aria-controls="twitter" role="tab" data-toggle="tab" class="platform-icon"><i class="fa fa-twitter"></i> Twitter</a></li>
										<li role="presentation"><a href="#linkdin" aria-controls="linkdin" role="tab" data-toggle="tab" class="platform-icon"><i class="fa fa-linkedin"></i> Linkedin</a></li>
										<li role="presentation"><a href="#instagram" aria-controls="instagram" role="tab" data-toggle="tab" class="platform-icon"><i class="fa fa-instagram"></i> Instagram</a></li>
									</ul>

								  <!-- Tab panes -->
								  <div class="tab-content " >
									<div role="tabpanel" class="tab-pane active" id="all" >
										<div class="campaign-statistic">
											<div class="row">
												<div class="col-sm-3">
													<div class="post-summary facebook">
														<h3 class="task-count">20</h3>
														<h6 class="task-name">Total Number of Post</h6>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="post-summary twitter">
														<h3 class="task-count">200k</h3>
														<h6 class="task-name">Comments</h6>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="post-summary linkedin">
														<h3 class="task-count">44k</h3>
														<h6 class="task-name">Likes</h6>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="post-summary instagram">
														<h3 class="task-count">58k</h3>
														<h6 class="task-name">Shares</h6>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="campaign-statistic">
													<img ng-src="{{imageUrl}}cam-rt-graph3.jpg" class="img-responsive center-block" />
												</div>
											</div>
											
											<div class="col-sm-12">
												<h4 class="h4">Post</h4>
											</div>
											<div class="col-sm-12">
												<div class="campaign-statistic scroll-height" >
													<div class="row" >														
														<div class="col-sm-6">
															<div class="post-box" >
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																			<li class="ong-share">20 <i class="fa fa-comments-o"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-facebook-square"></i>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="post-box">
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="red-heart">19 <i class="fa fa-heart "></i></li>
																			<li class="retweet">20 <i class="fa fa-retweet"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-twitter"></i>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="post-box">
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																			<li class="ong-share">20 <i class="fa fa-comments-o"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-facebook-square"></i>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="post-box">
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																			<li class="ong-share">20 <i class="fa fa-comments-o"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-facebook-square"></i>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="post-box">
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="red-heart">19 <i class="fa fa-heart "></i></li>
																			<li class="retweet">20 <i class="fa fa-retweet"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-twitter"></i>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="post-box">
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="red-heart">19 <i class="fa fa-heart "></i></li>
																			<li class="retweet">20 <i class="fa fa-retweet"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-twitter"></i>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="post-box">
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																			<li class="ong-share">20 <i class="fa fa-comments-o"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-facebook-square"></i>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="post-box">
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																			<li class="ong-share">20 <i class="fa fa-comments-o"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-facebook-square"></i>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="post-box">
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																			<li class="ong-share">20 <i class="fa fa-comments-o"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-facebook-square"></i>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="post-box">
																<div class="flex-box ">
																	<div>
																		<h5 class="post-title">Aerial Awards radio ad winner: KFC 'Money'</h5>
																		<ul class="post-options">
																			<li class="black-text">2 <i class="fa fa-share"></i></li>
																			<li class="red-heart">19 <i class="fa fa-heart "></i></li>
																			<li class="retweet">20 <i class="fa fa-retweet"></i></li>
																			<li class="keyword">#battery park</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																			<li class="keyword">#Kansas</li>
																		</ul>
																		<p class="post-detail">Post 1, Post Count: 25, Campaign 1, Fri, Jan 1 2017 - Jan 10 2017</p>
																	</div>
																	<div class="platform-icon">
																		<i class="fa fa-twitter"></i>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="facebook">...</div>
									<div role="tabpanel" class="tab-pane" id="twitter">...</div>
									<div role="tabpanel" class="tab-pane" id="linkdin">...</div>
									<div role="tabpanel" class="tab-pane" id="instagram">...</div>
								  </div>

								</div>
							</div>
						</div>
					</div>
