<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="h3">#tags</h3>
								<div class="tags trending-tab">
									<ul class="key-list">
										<li>#batterypark</li>
										<li>#kansas</li>
										<li>#supersaturday</li>
										<li>#airtrain</li>
										<li>#terminal4</li>
										<li>#queenboss</li>
										<li>#batterypark</li>
										<li>#kansas</li>
										<li>#supersaturday</li>
										<li>#airtrain</li>
										<li>#terminal4</li>
										<li>#queenboss</li>
										<li>#batterypark</li>
										<li>#kansas</li>
										<li>#supersaturday</li>
										<li>#airtrain</li>
										<li>#terminal4</li>
										<li>#queenboss</li>
										<li>#batterypark</li>
										<li>#kansas</li>
										<li>#supersaturday</li>
										<li>#airtrain</li>
										<li>#terminal4</li>
										<li>#queenboss</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="summary-head">
									<div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-6">
											<div class="row">
												<div class="col-sm-2"></div>
												<div class="col-sm-2"><label>Mentions</label></div>
												<div class="col-sm-3"><label>Followers Changes</label></div>
												<div class="col-sm-2"><label>Post Count</label></div>
												<div class="col-sm-2"><label>Interaction Change (%)</label></div>												
											</div>
										</div>
										<div class="col-sm-2"><label>Top Post</label></div>
										<div class="col-sm-2">
											<form class="client-form">
												<ul class="pl0px">
													<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="sort-icon pull-right"></span></a>
																	<ul class="dropdown-menu dropdown-messages dropdown-arrow">
																		<li>
																			<div class="col-sm-3">
																				<label >Sort By:</label>
																			</div>
																			<div class="col-sm-9 mb5px">
																				<div class="socioselect form-control">
																					<select placeholder="Select Numbers of Brands" class="simp-select">
																						<option value="aa" class="Selected">Campaign 1</option>
																						<option value="AL">Campaign 2</option>
																						<option value="AK">Campaign 3</option>
																						<option value="AZ">Campaign 4</option>												
																					</select>
																				</div>
																			</div>
																		</li>																		
																		<li>
																			<div class="col-sm-3">
																				<label>Sort By:</label>
																			</div>
																			<div class="col-sm-9 mb5px">
																				<div class="socioselect form-control">
																					<select placeholder="Select Numbers of Brands" class="simp-select">
																						<option value="aa" class="Selected">Facebook</option>
																						<option value="AL">Twitter</option>
																						<option value="AK">Linkedin</option>
																						<option value="AZ">Instagram</option>												
																					</select>
																				</div>
																			</div>
																		</li>																			
																			
																	</ul>																
													</li>
												</ul>
										</div>
									</div>
								</div>
								<div class="summary-tags">
									<div class="row">
										<div class="col-sm-2 ac">
											<a ui-sref="campaignReport">
												<img ng-src="{{imageUrl}}prfm-summ1.jpg" class="img-responsive center-block" />
												<label class="img_title">Travel more Destination</label>
											</a>
										</div>
										<div class="col-sm-6 statistics">
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-facebook-square"></i></div>
												<div class="col-sm-2"><label class="mention-text">477.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-twitter"></i></div>
												<div class="col-sm-2"><label class="mention-text">689.80k</label></div>
												<div class="col-sm-3"><label class="error-text"><i class="fa fa-long-arrow-down"></i> -0.552%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-linkedin"></i></div>
												<div class="col-sm-2"><label class="mention-text">190.16k</label></div>
												<div class="col-sm-3"><label class="error-text"><i class="fa fa-long-arrow-down"></i> 0.225%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-instagram"></i></div>
												<div class="col-sm-2"><label class="mention-text">477.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-youtube"></i></div>
												<div class="col-sm-2"><label class="mention-text">455.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
											</div>
										</div>
										<div class="col-sm-2 top-post">
											<div class="platform-icon dis-flex ">
												<i class="fa fa-instagram "></i>
												<label>Priorties are to travel 2017-01-17</label>
											</div>
											<ul>
												<li class="success-text">30k <i class="fa fa-thumbs-o-up "></i>  </li>
												<li class="share-text"> 230 <i class="fa fa-share"></i> </li>
											</ul>
										</div>
										<div class="col-sm-2">
											<img ng-src="{{imageUrl}}prfm-summ2.jpg" class="img-responsive center-block" />
										</div>
									</div>
								</div>
								<div class="summary-tags">
									<div class="row">
										<div class="col-sm-2 ac">
											<a ui-sref="campaignReport">
												<img ng-src="{{imageUrl}}prfm-summ1.jpg" class="img-responsive center-block" />
												<label class="img_title">Travel more Destination</label>
											</a>
										</div>
										<div class="col-sm-6 statistics">
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-facebook-square"></i></div>
												<div class="col-sm-2"><label class="mention-text">477.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-twitter"></i></div>
												<div class="col-sm-2"><label class="mention-text">689.80k</label></div>
												<div class="col-sm-3"><label class="error-text"><i class="fa fa-long-arrow-down"></i> -0.552%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-linkedin"></i></div>
												<div class="col-sm-2"><label class="mention-text">190.16k</label></div>
												<div class="col-sm-3"><label class="error-text"><i class="fa fa-long-arrow-down"></i> 0.225%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-instagram"></i></div>
												<div class="col-sm-2"><label class="mention-text">477.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-youtube"></i></div>
												<div class="col-sm-2"><label class="mention-text">455.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
											</div>
										</div>
										<div class="col-sm-2 top-post">
											<div class="platform-icon dis-flex ">
												<i class="fa fa-instagram "></i>
												<label>Priorties are to travel 2017-01-17</label>
											</div>
											<ul>
												<li class="success-text">30k <i class="fa fa-thumbs-o-up "></i>  </li>
												<li class="share-text"> 230 <i class="fa fa-share"></i> </li>
											</ul>
										</div>
										<div class="col-sm-2">
											<img ng-src="{{imageUrl}}prfm-summ2.jpg" class="img-responsive center-block" />
										</div>
									</div>
								</div>
								<div class="summary-tags">
									<div class="row">
										<div class="col-sm-2 ac">
											<a ui-sref="campaignReport">
												<img ng-src="{{imageUrl}}prfm-summ1.jpg" class="img-responsive center-block" />
												<label class="img_title">Travel more Destination</label>
											</a>
										</div>
										<div class="col-sm-6 statistics">
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-facebook-square"></i></div>
												<div class="col-sm-2"><label class="mention-text">477.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-twitter"></i></div>
												<div class="col-sm-2"><label class="mention-text">689.80k</label></div>
												<div class="col-sm-3"><label class="error-text"><i class="fa fa-long-arrow-down"></i> -0.552%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-linkedin"></i></div>
												<div class="col-sm-2"><label class="mention-text">190.16k</label></div>
												<div class="col-sm-3"><label class="error-text"><i class="fa fa-long-arrow-down"></i> 0.225%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-instagram"></i></div>
												<div class="col-sm-2"><label class="mention-text">477.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-youtube"></i></div>
												<div class="col-sm-2"><label class="mention-text">455.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
											</div>
										</div>
										<div class="col-sm-2 top-post">
											<div class="platform-icon dis-flex ">
												<i class="fa fa-instagram "></i>
												<label>Priorties are to travel 2017-01-17</label>
											</div>
											<ul>
												<li class="success-text">30k <i class="fa fa-thumbs-o-up "></i>  </li>
												<li class="share-text"> 230 <i class="fa fa-share"></i> </li>
											</ul>
										</div>
										<div class="col-sm-2">
											<img ng-src="{{imageUrl}}prfm-summ2.jpg" class="img-responsive center-block" />
										</div>
									</div>
								</div>
								<div class="summary-tags">
									<div class="row">
										<div class="col-sm-2 ac">
											<a ui-sref="campaignReport">
												<img ng-src="{{imageUrl}}prfm-summ1.jpg" class="img-responsive center-block" />
												<label class="img_title">Travel more Destination</label>
											</a>
										</div>
										<div class="col-sm-6 statistics">
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-facebook-square"></i></div>
												<div class="col-sm-2"><label class="mention-text">477.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-twitter"></i></div>
												<div class="col-sm-2"><label class="mention-text">689.80k</label></div>
												<div class="col-sm-3"><label class="error-text"><i class="fa fa-long-arrow-down"></i> -0.552%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-linkedin"></i></div>
												<div class="col-sm-2"><label class="mention-text">190.16k</label></div>
												<div class="col-sm-3"><label class="error-text"><i class="fa fa-long-arrow-down"></i> 0.225%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-instagram"></i></div>
												<div class="col-sm-2"><label class="mention-text">477.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label>0</label></div>												
											</div>
											<div class="row">
												<div class="col-sm-2 platform-icon"><i class="fa fa-youtube"></i></div>
												<div class="col-sm-2"><label class="mention-text">455.55k</label></div>
												<div class="col-sm-3"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
												<div class="col-sm-2"><label>0</label></div>
												<div class="col-sm-2"><label class="success-text"><i class="fa fa-long-arrow-up"></i> 0.001%</label></div>
											</div>
										</div>
										<div class="col-sm-2 top-post">
											<div class="platform-icon dis-flex ">
												<i class="fa fa-instagram "></i>
												<label>Priorties are to travel 2017-01-17</label>
											</div>
											<ul>
												<li class="success-text">30k <i class="fa fa-thumbs-o-up "></i>  </li>
												<li class="share-text"> 230 <i class="fa fa-share"></i> </li>
											</ul>
										</div>
										<div class="col-sm-2">
											<img ng-src="{{imageUrl}}prfm-summ2.jpg" class="img-responsive center-block" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					
				</div><!-- /body part -->
				
					
					
					