
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<img ng-src="{{imageUrl}}teamreport.jpg" class="img-responsive " />
							</div>
						</div>
					</div>
				