
<div class="loading">
	<span class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></span>
	<div class="overlay"></div>
</div>
		</div>	<!-- /wrapper -->
	</body><!-- body -->
</html><!-- html -->

<style type="text/css">
	.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.loading{
    display: none;
    text-align: center;
}
.loading span {
    position: absolute;
    top: 48%;
    left: 48%;
    z-index: 200;
    color: #096995;
    font-size: 40px;
}
</style>