<div class="page-wrapper header-wrapper white-bg"> 
 <!-- top header -->
				<div class="row ">
					<nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">
						<div class="navbar-header">
							<a class="navbar-minimalize" ng-click="minimizeMenu()" target="_self"><i class="fa fa-bars fa-3x "></i> </a>          
						</div>
						<ul class="nav navbar-top-links navbar-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<div class="col-sm-12">
										<div class=" notification">
											<span class="bell-icon"></span>
											<span class="notification-icon">5</span>
										</div>
									</div>
								</a>
								<div class="dropdown-menu dropdown-messages dropdown-arrow notification-list">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Notifications</h3>
										</div>
										<div class="panel-body p0px">
											
												<ul class="pl0px noti-list">													
													<li class="dis-flex new unread">
														<div class="flex-ch1">
															<span class="pending-app-icon"></span>
														</div>
														<div class="flex-ch2">
															<label>Tech's new frontier: The human brain</label>
															<span class="clock">2 hr ago</span>
														</div>
														<div class="flex-ch1">
															<span class="label label-pending ">Pending Approval</span>
														</div>
													</li>
													<li class="dis-flex new unread">
														<div class="flex-ch1">
															<span class="approved-icon"></span>
														</div>
														<div class="flex-ch2">
															<label >Nike, Muji targeted in China consumer</label>
															<span class="clock">2:50 hr ago</span>
														</div>
														<div class="flex-ch1">
															<span class="label label-primary">Approved</span>
														</div>
													</li>
													<li class="dis-flex new unread">
														<div class="flex-ch1">
															<span class="pending-app-icon"></span>
														</div>
														<div class="flex-ch2">
															<label >Facebook & Twitter slammed in the UK</label>
															<span class="clock">2:50 hr ago</span>
														</div>
														<div class="flex-ch1">
															<span class="label label-pending ">Pending Approval</span>
														</div>
													</li>
													<li class="dis-flex new read">
														<div class="flex-ch1">
															<span class="event-icon"></span>
														</div>
														<div class="flex-ch2">
															<label>Holi: The festival</label>
															<span class="clock">29 hr ago, 19/03/2017</span>
														</div>
																 
													</li>
												</ul>
											
										</div>
										<div class="panel-footer"><a ui-sref="#">View All</a></div>
									</div>
								</div>
							</li>
							
							<li class="dropdown">
								<a class="dropdown-toggle flex-center" data-toggle="dropdown" href="#">
								   
										<div class="dis-inl">
											<img ng-src="{{imageUrl}}profile.jpg" class="img-responsive img-circle center-block profile-pic" />
											<span class="user-active"></span>
										</div>
										<div class="dis-inl">
											<label class="user-name">Ricardo P. Smith</label>
											<span class="user-role">Author <i class="flaticon-down-arrow"></i></span>
										</div>
									
								</a>
							    <ul class="dropdown-menu dropdown-messages dropdown-arrow">
									<li>
										<a href="#">
											<div class="drop-content">
												<span class="flaticon-avatar flaticon"></span><span class="drop-name">My Profile</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="drop-content">
												<span class="flaticon-logout flaticon"></span><span class="drop-name">Logout</span>
											</div>
										</a>
									</li>									
								</ul>
							</li>                
							<!--<li>
								<a href="login.html">
									<i class="fa fa-sign-out"></i> Log out
								</a>
							</li>-->                
						</ul>
					</nav>
				</div><!-- /top header -->

		</div>	<!-- / page wrapper -->	
</div>