<div class="container-fluid">
	<div class="row btm-brd" >
		<div class="col-sm-6">
			<div class="page-title">
				<h3>{{title}}</h3>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="btn-section">
				<a href="compose-post.html" class="btn btn-compose">Compose</a>
			</div>
		</div>
	</div>
</div>