
					
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<form class="client-form">
									<div class="setting-box">
										<div class="setting-header">
											<h4>Set-up Metrics for Monitoring</h4>
										</div>									
										<div class="setting-content">										
											<div class="socio-table table-responsive">
												<table class="table table-striped table-bordered table-hover settings">
													<thead>
														<th>Name <i class="fa fa-sort-amount-asc fr asc-sort" aria-hidden="true"></i></th>
														<th>Unit</th>
														<th>Level <i class="fa fa-exchange fa-rotate-270 fr exchange" aria-hidden="true"></i></th>
														<th>Action</th>
													</thead>
													<tbody>
														<tr>
															<td><label>Reach</label></td>
															<td><label>Count</label></td>
															<td>
																<div class="socioselect form-control">
																	<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select">
																		<option value="aa" class="Selected">5K</option>
																		<option value="AL">10K</option>
																		<option value="AK">15K</option>											
																	</select>
																</div>
															</td>
															<td>
																<div class="check-box">
																	<label class="vote-check" >
																		<input type="checkbox" name="optionscheck" id="" value="" checked><span>Notify me when metrics fulfilled</span>
																	</label>															
																</div>
															</td>
														</tr>
														<tr>
															<td><label>Comments</label></td>
															<td><label>Count</label></td>
															<td>
																<div class="socioselect form-control">
																	<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select">
																		<option value="aa" class="Selected">5K</option>
																		<option value="AL">10K</option>
																		<option value="AK">15K</option>											
																	</select>
																</div>
															</td>
															<td>
																<div class="check-box">
																	<label class="vote-check" >
																		<input type="checkbox" name="optionscheck" id="" value=""><span>Notify me when metrics fulfilled</span>
																	</label>															
																</div>
															</td>
														</tr>
														<tr>
															<td><label>Impress</label></td>
															<td><label>Count</label></td>
															<td>
																<div class="socioselect form-control">
																	<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select">
																		<option value="aa" class="Selected">5K</option>
																		<option value="AL">10K</option>
																		<option value="AK">15K</option>											
																	</select>
																</div>
															</td>
															<td>
																<div class="check-box">
																	<label class="vote-check" >
																		<input type="checkbox" name="optionscheck" id="" value=""><span>Notify me when metrics fulfilled</span>
																	</label>															
																</div>
															</td>
														</tr>
														<tr>
															<td><label>Shares</label></td>
															<td><label>Count</label></td>
															<td>
																<div class="socioselect form-control">
																	<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select">
																		<option value="aa" class="Selected">5K</option>
																		<option value="AL">10K</option>
																		<option value="AK">15K</option>											
																	</select>
																</div>
															</td>
															<td>
																<div class="check-box">
																	<label class="vote-check" >
																		<input type="checkbox" name="optionscheck" id="" value=" " checked><span>Notify me when metrics fulfilled</span>
																	</label>															
																</div>
															</td>
														</tr>
														<tr>
															<td><label>Tweets</label></td>
															<td><label>Count</label></td>
															<td>
																<div class="socioselect form-control">
																	<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select">
																		<option value="aa" class="Selected">5K</option>
																		<option value="AL">10K</option>
																		<option value="AK">15K</option>											
																	</select>
																</div>
															</td>
															<td>
																<div class="check-box">
																	<label class="vote-check" >
																		<input type="checkbox" name="optionscheck" id="" value="" checked><span>Notify me when metrics fulfilled</span>
																	</label>															
																</div>
															</td>
														</tr>
														<tr>
															<td><label>Connections</label></td>
															<td><label>Count</label></td>
															<td>
																<div class="socioselect form-control">
																	<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select">
																		<option value="aa" class="Selected">5K</option>
																		<option value="AL">10K</option>
																		<option value="AK">15K</option>											
																	</select>
																</div>
															</td>
															<td>
																<div class="check-box">
																	<label class="vote-check" >
																		<input type="checkbox" name="optionscheck" id="" value="" checked><span>Notify me when metrics fulfilled</span>
																	</label>															
																</div>
															</td>
														</tr>
														<tr>
															<td><label>Followers</label></td>
															<td><label>Count</label></td>
															<td>
																<div class="socioselect form-control">
																	<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select">
																		<option value="aa" class="Selected">5K</option>
																		<option value="AL">10K</option>
																		<option value="AK">15K</option>											
																	</select>
																</div>
															</td>
															<td>
																<div class="check-box">
																	<label class="vote-check" >
																		<input type="checkbox" name="optionscheck" id="" value="" checked><span>Notify me when metrics fulfilled</span>
																	</label>															
																</div>
															</td>
														</tr>
														<tr>
															<td><label>Subscribers</label></td>
															<td><label>Count</label></td>
															<td>
																<div class="socioselect form-control">
																	<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select">
																		<option value="aa" class="Selected">5K</option>
																		<option value="AL">10K</option>
																		<option value="AK">15K</option>											
																	</select>
																</div>
															</td>
															<td>
																<div class="check-box">
																	<label class="vote-check" >
																		<input type="checkbox" name="optionscheck" id="" value=""><span>Notify me when metrics fulfilled</span>
																	</label>															
																</div>
															</td>
														</tr>
														<tr>
															<td><label>Likes</label></td>
															<td><label>Count</label></td>
															<td>
																<div class="socioselect form-control">
																	<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select">
																		<option value="aa" class="Selected">5K</option>
																		<option value="AL">10K</option>
																		<option value="AK">15K</option>											
																	</select>
																</div>
															</td>
															<td>
																<div class="check-box">
																	<label class="vote-check" >
																		<input type="checkbox" name="optionscheck" id="" value=""><span>Notify me when metrics fulfilled</span>
																	</label>															
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>										
										</div>									
									</div>
									<div class="btnbox">
										<div class=" pull-right">
											<button type="reset" class="btn  btn-cancel">Reset</button>
											<button type="submit" class="btn btn-compose">Save</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					
				