
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-11">
								<form class="reminder client-form">
									<div class="setting-box">
										<div class="setting-header">
											<h4>Set-up Reminders</h4>
										</div>									
										<div class="setting-content">										
											<div class="reminders">
												<!-- Nav tabs -->
												<div class="scroll-tab">
													<ul class="nav nav-tabs" role="tablist">
														<li role="presentation" class="active"><a href="#reminder1" aria-controls="home" role="tab" data-toggle="tab">Reminder 1</a></li>
														<li role="presentation" ><a href="#reminder2" aria-controls="home" role="tab" data-toggle="tab">Reminder 2</a></li>
														<!--<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
														<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
														<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>-->
														<li><button type="button" class="btn btn-default btn-reminder"><span class="add-icon"></span>Add Reminder</button></li>
													</ul>
												</div>
												
												<!-- Tab panes -->
												<div class="tab-content">
													<div role="tabpanel" class="tab-pane active fade in" id="reminder1">
														
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Campaign Name</label></div>
																	</div>
																	<div class="col-sm-8">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Select Campaign Name" class="simp-select">
																				<option value="aa" class="Selected">The night Vernon Dias nearly took his own life</option>
																				<option value="AL">Alabama</option>
																				<option value="AK">Alaska</option>
																				<option value="AZ">Arizona</option>												
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Create Date</label></div>
																	</div>
																	<div class="col-sm-8 ">
																		<div class="input-group date">															
																			<input type="text" class="form-control" placeholder="09/03/17" />
																			<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>End Date</label></div>
																	</div>
																	<div class="col-sm-8 ">
																		<div class="input-group date">															
																			<input type="text" class="form-control" placeholder="15/03/17" />
																			<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Author Name</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<input type="text" class="form-control" placeholder="Author Name" />
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Publish Date</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="input-group date">															
																			<input type="text" class="form-control" placeholder="09/03/17" />
																			<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Enable Reminder e-mails</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<label class="switch">
																			<input class="switch-input" type="checkbox" checked />
																			<span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> 
																		</label>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Frequency</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Select Frequency" class="simp-select">
																				<option value="aa" class="Selected">05</option>
																				<option value="AL">10</option>
																				<option value="AK">15</option>
																				<option value="AZ">20</option>												
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Interval</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Select Interval" class="simp-select">
																				<option value="aa" class="Selected">10 min</option>
																				<option value="AL">20 min</option>
																				<option value="AK">30 min</option>
																				<option value="AZ">40 min</option>												
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Time</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="input-group time-input">															
																			<input type="text" class="form-control" placeholder="10:00 A.M" />
																			<span class="input-group-addon calender-icon no-right-brd"><span class=" fa fa-clock-o" ></span></span>
																			<input type="text" class="form-control" placeholder="11:15 A.M" />
																			<span class="input-group-addon calender-icon"><span class=" fa fa-clock-o" ></span></span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Maximum Emails</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Select Interval" class="simp-select">
																				<option value="aa" class="Selected">10 </option>
																				<option value="AL">20 </option>
																				<option value="AK">30 </option>
																				<option value="AZ">40 </option>												
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																	<div class="reminder-field-bg"></div>	
																	</div>
																	<div class="col-sm-8">
																		<button type="button" class="btn  btn-cancel">Cancel</button>
																		<button type="submit" class="btn btn-compose">Submit</button>
																	</div>
																</div>
															</div>
														
													</div>													
												
													<div role="tabpanel" class="tab-pane fade in" id="reminder2">
														
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Campaign Name</label></div>
																	</div>
																	<div class="col-sm-8">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Select Campaign Name" class="simp-select">
																				<option value="aa" class="Selected">The night Vernon Dias nearly took his own life</option>
																				<option value="AL">Alabama</option>
																				<option value="AK">Alaska</option>
																				<option value="AZ">Arizona</option>												
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Create Date</label></div>
																	</div>
																	<div class="col-sm-8 ">
																		<div class="input-group date">															
																			<input type="text" class="form-control" placeholder="09/03/17" />
																			<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>End Date</label></div>
																	</div>
																	<div class="col-sm-8 ">
																		<div class="input-group date">															
																			<input type="text" class="form-control" placeholder="15/03/17" />
																			<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Author Name</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<input type="text" class="form-control" placeholder="Author Name" />
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Publish Date</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="input-group date">															
																			<input type="text" class="form-control" placeholder="09/03/17" />
																			<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Enable Reminder e-mails</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<label class="switch">
																			<input class="switch-input" type="checkbox" checked />
																			<span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> 
																		</label>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Frequency</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Select Frequency" class="simp-select">
																				<option value="aa" class="Selected">05</option>
																				<option value="AL">10</option>
																				<option value="AK">15</option>
																				<option value="AZ">20</option>												
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Interval</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Select Interval" class="simp-select">
																				<option value="aa" class="Selected">10 min</option>
																				<option value="AL">20 min</option>
																				<option value="AK">30 min</option>
																				<option value="AZ">40 min</option>												
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Time</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="input-group time-input">															
																			<input type="text" class="form-control" placeholder="10:00 A.M" />
																			<span class="input-group-addon calender-icon no-right-brd"><span class=" fa fa-clock-o" ></span></span>
																			<input type="text" class="form-control" placeholder="11:15 A.M" />
																			<span class="input-group-addon calender-icon"><span class=" fa fa-clock-o" ></span></span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="reminder-field-bg"><span class="reminder-dot"></span><label>Maximum Emails</label></div>	
																	</div>
																	<div class="col-sm-8">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Select Interval" class="simp-select">
																				<option value="aa" class="Selected">10 </option>
																				<option value="AL">20 </option>
																				<option value="AK">30 </option>
																				<option value="AZ">40 </option>												
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-sm-4 ">
																	<div class="reminder-field-bg"></div>	
																	</div>
																	<div class="col-sm-8">
																		<button type="button" class="btn  btn-cancel">Cancel</button>
																		<button type="submit" class="btn btn-compose">Submit</button>
																	</div>
																</div>
															</div>
														
													</div>													
												
												</div>
											</div>
										</div>									
									</div>									
								</form>
							</div>
						</div>
					</div>
					
			