
					
					<div class="container-fluid">
						<div class="row">
							<form class="client-form">
								<div class="col-sm-3 mt20px">
									<a ui-sref="createCampaign" class="btn btn-default" ><span class="add-icon"></span> Create Campaign</a>
								</div>
								<div class="col-sm-4 pull-right mt20px">
								
									<div class="form-group">
										<div class="input-group">															
											<input type="text" class="form-control input-text-addon" placeholder="Search" />
											<span class="input-group-addon search-icon"><i class="fa fa-search"></i></span>
										</div>
									</div>
								</div>
							</form>
							<div class="col-sm-12">
								<form class="client-form">
									<div class="add-client">																			
										<div class="setting-content">										
											<div class="socio-table table-responsive">
												<table class="table table-striped table-bordered table-hover settings">
													<thead>
														<th>Campaign Title <i class="fa fa-sort-amount-asc fr asc-sort" aria-hidden="true"></i></th>
														<th class="sm-width">No. of Post</th>
														<th>Platforms </th>
														<th>Team</th>
														<th class="sm-width">Start Date -<br/> End Date</th>
														<th>Actions</th>
													</thead>
													<tbody>
														<tr>
															<td><label>I gave Rusty a bone and he gave me a smile!</label></td>
															<td>5</td>
															<td class="ac platform-icon">
																<i class="fa fa-facebook" ></i>
																<i class="fa fa-twitter" ></i>
																<i class="fa fa-instagram" ></i>
															</td>
															<td>Team 1</td>
															<td>9 March 2017 -<br/> 12 March 2017</td>
															<td>
																<ul class="action-listing  dis-flex">
																	<li><a  href="#" ><i class="fa fa-pencil" aria-hidden="true"></i> </a></li>
																	<li><a  ui-sref="viewCampaign" ><i class="fa fa-eye" aria-hidden="true"></i> </a></li>
																	<li><a  href="#" ><i class="fa fa-trash" aria-hidden="true"></i> </a></li>
																</ul>
															</td>
														</tr>
														<tr>
															<td><label>'This is bullshit': An open letter to adland from a working mum</label></td>
															<td>10</td>
															<td class="ac platform-icon">
																<i class="fa fa-facebook" ></i>
																<i class="fa fa-twitter" ></i>
																<i class="fa fa-instagram" ></i>
															</td>
															<td>Team 2</td>
															<td>2 April 2017 -<br/> 12 April 2017</td>
															<td>
																<ul class="action-listing  dis-flex">
																	<li><a  href="#" ><i class="fa fa-pencil" aria-hidden="true"></i> </a></li>
																	<li><a  ui-sref="viewCampaign" ><i class="fa fa-eye" aria-hidden="true"></i> </a></li>
																	<li><a  href="#" ><i class="fa fa-trash" aria-hidden="true"></i> </a></li>
																</ul>
															</td>
														</tr>
														<tr>
															<td><label>'This is bullshit': An open letter to adland from a working mum</label></td>
															<td>5</td>
															<td class="ac platform-icon">
																<i class="fa fa-facebook" ></i>
																<i class="fa fa-twitter" ></i>
																<i class="fa fa-instagram" ></i>
															</td>
															<td>Team 2</td>
															<td>2 April 2017 -<br/> 12 April 2017</td>
															<td>
																<ul class="action-listing  dis-flex">
																	<li><a  href="#" ><i class="fa fa-pencil" aria-hidden="true"></i> </a></li>
																	<li><a  ui-sref="viewCampaign" ><i class="fa fa-eye" aria-hidden="true"></i> </a></li>
																	<li><a  href="#" ><i class="fa fa-trash" aria-hidden="true"></i> </a></li>
																</ul>
															</td>
														</tr>
													</tbody>
												</table>
											</div>										
										
										</div>									
									</div>
									<div class="page-nation mt20px">
														<ul class="pagination pagination-large">
															<li class="disabled"><a rel="next" href="#">Prev</a></li>
															<li class="active"><span>1</span></li>
															<li><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">6</a></li>
															<li><a href="#">7</a></li>
															<li><a href="#">8</a></li>
															<li><a href="#">9</a></li>
															<li><a rel="next" href="#">Next</a></li>									
														</ul>
													</div>
								</form>
							</div>
						</div>
					</div>
					
