			 

					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12 p0px mt20px">
								<form class="client-form compose">
									<div class="compose-post">
										<ul class="nav nav-tabs" role="tablist">
											<li role="presentation"  class="active"><a href="#compose" aria-controls="compose" role="tab" data-toggle="tab">Compose</a></li>
											<li role="presentation"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li>
											<li role="presentation"><a href="#audience" aria-controls="audience" role="tab" data-toggle="tab">Audience</a></li>											
										</ul>

										<!-- Tab panes -->
										<div class="tab-content mt20px">
											<!-- Tab panes -->
										<div class="tab-content mt20px">
											<div role="tabpanel" class="tab-pane fade in active" id="compose">
												<div class="post-editor">
													
													<div class="row">
														<div class="col-sm-3">										
															<div class="from-group">
																<label>Campaign</label>
																<div class="socioselect form-control">																		
																	<select placeholder="Campaign" class="simp-select">
																		<option value="Campaign 1" >Campaign 1</option>
																		<option value="Campaign 2" selected>Campaign 2</option>
																		<option value="Campaign 3">Campaign 3</option>
																		<option value="Campaign 4">Campaign 4</option>
																	</select>
																</div>
															</div>														
														</div>
														<div class="col-sm-3">
															<div class="form-group">
																<label>Social Media Channels</label>
																<select class="multidrop" multiple="multiple" placeholder="Social Media">
																	<option value="Facebook" selected>Facebook</option>
																	<option value="Twitter" selected>Twitter</option>
																	<option value="Linkedin">Linkedin</option>
																	<option value="Youtube">Youtube</option>
																</select>
																
															</div>
														</div>
														<div class="col-sm-3">
															<label>Handle</label>
															<select class="multidrop" multiple="multiple" placeholder="Handles">
																<option value="Handle1" selected>Handle1</option>
																<option value="Handle2" selected>Handle2</option>
																<option value="Handle3">Handle3</option>
															</select>
															
														</div>
														<div class="col-sm-3 ">
															<div class="form-group">
															<label>Shorten URL</label>
																<div class="input-group">															
																	<input type="text" class="form-control input-text-addon" placeholder="Enter URL	" />
																	<span class="input-group-addon shorten">Shorten</span>
																</div>
															</div>
															
														</div>
														
													</div>
													<!-- ck editor -->
													<div class="row ">
														<div class="col-sm-12 ">
															 <textarea id="container-editor" name="footerContent">Content goes here....</textarea>
														</div>
													</div>
													
													<div class="row mt10px">
														<div class="col-sm-3">
															<div class="check-box">
																<label class="vote-check" >
																	<input type="checkbox" name="optionscheck" id="" value="" checked ><span>Notify me when sent</span>
																</label>
															</div>
														</div>
														<div class="col-sm-9">
															<div class="pull-right">
																<!--<a href="suggestion.html" class="btn btn-blank"><i class="fa fa-file-text-o" aria-hidden="true"></i> Content Suggestion</a>-->
																<a href="#preview" data-toggle="modal" class="btn btn-blank"><i class="fa fa-eye"></i> Preview</a>
																<a href="draft.html" class="btn btn-blank"><i class="fa fa-save"></i> Save as Draft</a>
																<a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab" class="btn btn-blank"><i class="fa fa-save"></i> Save & Schedule</a>
															</div>
														</div>
													</div>
												</div>
												<div class="post-suggestion">
													<div class="row mt20px">
														<div class="col-sm-3 ">
															<h3 class="h3 m0px ">Content Suggestion</h3>															
														</div>
														<div class="col-sm-4 ">
															<ul class="pl0px">
																<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="sort-icon "></span></a>
																	<ul class="dropdown-menu dropdown-messages left-arrow dropdown-right">
																		<li>
																			<div class="col-sm-3">
																				<label>Industry:</label>
																			</div>
																			<div class="col-sm-9 mb5px">
																				<div class="socioselect form-control">
																					<select placeholder="Select Numbers of Brands" class="simp-select">
																						<option value="aa" class="Selected">Global</option>
																						<option value="AL">Global</option>
																						<option value="AK">Global</option>
																						<option value="AZ">Global</option>												
																					</select>
																				</div>
																			</div>
																		</li>																		
																		<li>
																			<div class="col-sm-3">
																				<label>Competitor:</label>
																			</div>
																			<div class="col-sm-9 mb5px">
																				<div class="socioselect form-control">
																					<select placeholder="Select Numbers of Brands" class="simp-select">
																						<option value="aa" class="Selected">SpiceJet</option>
																						<option value="AL">SpiceJet</option>
																						<option value="AK">SpiceJet</option>
																						<option value="AZ">SpiceJet</option>												
																					</select>
																				</div>
																			</div>
																		</li>																			
																		<li>
																			<div class="col-sm-3">
																				<label>Campaign:</label>
																			</div>
																			<div class="col-sm-9 mb5px">
																				<div class="socioselect form-control">
																					<select  placeholder="Select Numbers of Brands" class="simp-select">
																						<option value="aa" class="Selected">Cheap Flights</option>
																						<option value="AL">Cheap Flights</option>
																						<option value="AK">Cheap Flights</option>
																						<option value="AZ">Cheap Flights</option>												
																					</select>
																				</div>
																			</div>
																		</li>	
																	</ul>																
																</li>
															</ul>															
														</div>
														<div class="col-sm-2 pull-right ">
															<div class="socioselect form-control mb10px fix-height">
																<select id="select-state" placeholder="sort" class="simp-select">
																	<option value="aa" class="Selected">Sort</option>
																	<option value="AL">Likes</option>
																	<option value="aaa">Comments</option>
																	<option value="ad">Shares</option>
																	<option value="add">Recent</option>
																</select>
															</div>
														</div>
														
													</div>
													<div class="row">
														<div class="col-sm-12" >
															<div class="review content-suggestion" >
																<!-- Nav tabs -->
																<ul class="nav nav-tabs" role="tablist">
																	<li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
																	<li role="presentation"><a href="#facebook" aria-controls="facebook" role="tab" data-toggle="tab">Facebook</a></li>
																	<li role="presentation"><a href="#twitter" aria-controls="twitter" role="tab" data-toggle="tab">Twitter</a></li>
																	<li role="presentation"><a href="#instagram" aria-controls="instagram" role="tab" data-toggle="tab">Instagram</a></li>
																	<li role="presentation"><a href="#youtube" aria-controls="youtube" role="tab" data-toggle="tab">Youtube</a></li>
																</ul>

																<!-- Tab panes -->
																<div class="tab-content" ng-scrollbars ng-scrollbars-config="scrollbarConfig"> 
																	<div role="tabpanel" class="tab-pane active fade in" id="all">
																		<div class="row">
																			<div class="col-sm-12">
																				<ul class="pl0px key-list">
																					<li>#batterypark</li>
																					<li>#kansas</li>
																					<li>#supersaturday</li>
																					<li>#airtrain</li>
																					<li>#terminal4</li>
																					<li>#queenboss</li>
																					<li>#batterypark</li>
																					<li>#kansas</li>
																					<li>#supersaturday</li>
																					<li>#airtrain</li>
																					<li>#terminal4</li>
																					<li>#queenboss</li>
																					<li>#batterypark</li>
																					<li>#kansas</li>
																					<li>#supersaturday</li>
																					<li>#airtrain</li>
																					<li>#terminal4</li>
																					<li>#queenboss</li>
																					<li>#batterypark</li>
																					<li>#kansas</li>
																					<li>#supersaturday</li>
																					<li>#airtrain</li>
																					<li>#terminal4</li>
																					<li>#queenboss</li>
																				</ul>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="content">
																					<div class="row">
																						<div class="col-sm-3 col-md-3 col-lg-2">
																							<img ng-src="{{imageUrl}}review-pic.jpg" class="img-responsive center-block " />
																						</div>
																						<div class="col-sm-7 col-lg-8">
																							<h5 class="post-title">Don’t Stop Travelling Untill You’ve Seen The Sun Set From Every Coast</h5>
																							<ul class="pl0px mb0px">
																								<li>2 <i class="fa fa-share"></i></li>
																								<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																								<li class=" ong-share">20 <i class="fa fa-comments-o"></i></li>
																							</ul>
																							<p class="post-detail">Post 1, Campaign 1, Fri, Jan 1 2017 - 12:05 P.M</p>
																							
																						</div>
																						<div class="col-sm-2 col-lg-2 platform-icon">
																							<i class="fa fa-facebook-square"></i>
																						</div>
																						<div class="col-sm-12">
																							<div class="pull-right">
																								<a href="#" class="btn btn-compose btn-sm">Copy</a>										
																								<a href="#" class="btn btn-compose btn-sm">Add to client library</a>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="content">
																					<div class="row">
																						<div class="col-sm-3 col-md-3 col-lg-2">
																							<img ng-src="{{imageUrl}}review-pic.jpg" class="img-responsive center-block " />
																						</div>
																						<div class="col-sm-7 col-lg-8">
																							<h5 class="post-title">Don’t Stop Travelling Untill You’ve Seen The Sun Set From Every Coast</h5>
																							<ul class="pl0px mb0px">
																								<li>2 <i class="fa fa-share"></i></li>
																								<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																								<li class=" ong-share">20 <i class="fa fa-comments-o"></i></li>
																							</ul>
																							<p class="post-detail">Post 1, Campaign 1, Fri, Jan 1 2017 - 12:05 P.M</p>
																							
																						</div>
																						<div class="col-sm-2 col-lg-2 platform-icon">
																							<i class="fa fa-linkedin"></i>
																						</div>
																						<div class="col-sm-12">
																							<div class="pull-right">
																								<a href="#" class="btn btn-compose btn-sm">Copy</a>										
																								<a href="#" class="btn btn-compose btn-sm">Add to client library</a>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="content">
																					<div class="row">
																						<div class="col-sm-3 col-md-3 col-lg-2">
																							<img ng-src="{{imageUrl}}review-pic.jpg" class="img-responsive center-block " />
																						</div>
																						<div class="col-sm-7 col-lg-8">
																							<h5 class="post-title">Don’t Stop Travelling Untill You’ve Seen The Sun Set From Every Coast</h5>
																							<ul class="pl0px mb0px">
																								<li>2 <i class="fa fa-share"></i></li>
																								<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																								<li class=" ong-share">20 <i class="fa fa-comments-o"></i></li>
																							</ul>
																							<p class="post-detail">Post 1, Campaign 1, Fri, Jan 1 2017 - 12:05 P.M</p>
																							
																						</div>
																						<div class="col-sm-2 col-lg-2 platform-icon">
																							<i class="fa fa-twitter"></i>
																						</div>
																						<div class="col-sm-12">
																							<div class="pull-right">
																								<a href="#" class="btn btn-compose btn-sm">Copy</a>										
																								<a href="#" class="btn btn-compose btn-sm">Add to client library</a>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="content">
																					<div class="row">
																						<div class="col-sm-3 col-md-3 col-lg-2">
																							<img ng-src="{{imageUrl}}review-pic.jpg" class="img-responsive center-block " />
																						</div>
																						<div class="col-sm-7 col-lg-8">
																							<h5 class="post-title">Don’t Stop Travelling Untill You’ve Seen The Sun Set From Every Coast</h5>
																							<ul class="pl0px mb0px">
																								<li>2 <i class="fa fa-share"></i></li>
																								<li class="green-like">19 <i class="fa fa-thumbs-up "></i></li>
																								<li class=" ong-share">20 <i class="fa fa-comments-o"></i></li>
																							</ul>
																							<p class="post-detail">Post 1, Campaign 1, Fri, Jan 1 2017 - 12:05 P.M</p>
																							
																						</div>
																						<div class="col-sm-2 col-lg-2 platform-icon">
																							<i class="fa fa-youtube"></i>
																						</div>
																						<div class="col-sm-12">
																							<div class="pull-right">
																								<a href="#" class="btn btn-compose btn-sm">Copy</a>										
																								<a href="#" class="btn btn-compose btn-sm">Add to client library</a>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-sm-12 "><a ui-sref="suggestions" class="pull-right"> <label>View All <i class="fa fa-angle-double-right"></i></label> </a></div>
																		</div>
																	</div>
																	<div role="tabpanel" class="tab-pane fade in" id="facebook">
																		
																	</div>
																	<div role="tabpanel" class="tab-pane fade in" id="twitter">
																		
																	</div>
																	<div role="tabpanel" class="tab-pane fade in" id="linkdin">
																		
																	</div>
																	<div role="tabpanel" class="tab-pane fade in" id="youtube">
																		
																	</div>
																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="tabpanel" class="tab-pane fade in " id="schedule">
												<div class="row">
													<div class="col-sm-12">
														<div class="row">
															<div class="col-sm-6">
																<label>Frequency/Date Time Selection</label>
															</div>
															<div class="col-sm-6 ">
																<button type="button" class="btn btn-blank pull-right mb10px"><span class="add-icon"></span> Add</button>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<!-- table-heading -->
																<div class="flex-heading">
																	<div class="flex_child">
																		<label>Platform</label>
																	</div>
																	<div class="flex_child">
																		<label>Frequency</label>
																	</div>
																	<div class="flex_child">
																		<label>Start Date & Time</label>
																	</div>
																	<div class="flex_child">
																		<label> End Date & Time</label>
																	</div>
																	<div class="flex_child">
																		<label>Action</label>
																	</div>
																</div>
																<!-- table-heading end -->
																<!-- first row -->
																<div class="flex-parent">
																	<div class="flex_child">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Platform" class="simp-select">
																				<option value="aa" class="Selected">Facebook</option>
																				<option value="AL">Twitter</option>
																				<option value="AK">Linkedin</option>											
																			</select>
																		</div>
																	</div>
																	<div class="flex_child">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="frequency" class="simp-select">
																				<option value="aa" class="Selected">Every half an hour</option>
																				<option value="AL">Every 1 hour</option>
																				<option value="AK">Custom</option>											
																			</select>
																		</div>
																	</div>
																	<!-- repeat in this div-->
																	<div class="flex_child colmn_dir">
																		<div class="flex_subchild date">
																			<div class="input-group">															
																				<input type="text" class="form-control" placeholder="Start Date" value="05/02/2017 10:49 A.M" />
																				<span class="input-group-addon calender-icon"><span class=" date-time-icon" ></span></span>
																			</div>
																		</div>
																		<div class="flex_subchild date">
																			<div class="input-group">															
																				<input type="text" class="form-control" placeholder="Start Date" value="07/02/2017 10:30 A.M" />
																				<span class="input-group-addon calender-icon"><span class=" date-time-icon" ></span></span>
																			</div>
																		</div>
																		<div class="flex_subchild date">
																			<div class="input-group">															
																				<input type="text" class="form-control" placeholder="Start Date" value="08/02/2017 11:49 P.M" />
																				<span class="input-group-addon calender-icon"><span class=" date-time-icon" ></span></span>
																			</div>
																		</div>
																	</div>
																	<!-- repeat in this div-->
																	<div class="flex_child colmn_dir">
																		<div class="flex_subchild date">
																			<div class="input-group">															
																				<input type="text" class="form-control" placeholder="End Date" value="07/02/2017 09:49 P.M" />
																				<span class="input-group-addon calender-icon"><span class="date-time-icon" ></span></span>
																			</div>
																		</div>
																		<div class="flex_subchild date">
																			<div class="input-group">															
																				<input type="text" class="form-control" placeholder="Start Date" value="09/02/2017 10:30 A.M" />
																				<span class="input-group-addon calender-icon"><span class="date-time-icon" ></span></span>
																			</div>
																		</div>
																		<div class="flex_subchild date">
																			<div class="input-group">															
																				<input type="text" class="form-control" placeholder="Start Date" value="10/02/2017 10:30 A.M" />
																				<span class="input-group-addon calender-icon"><span class=" date-time-icon" ></span></span>
																			</div>
																		</div>
																	</div>
																	<!-- repeat in this div-->
																	<div class="flex_child colmn_dir">
																		<div class="flex_subchild">
																			<a href="#"> <span class="add-icon"></span></a>
																			<a href="#"><span class="trash-icon"></span></a>
																		</div>
																		<div class="flex_subchild">
																			<a href="#" class="ml32px"><span class="trash-icon"></span></a>
																		</div>
																		<div class="flex_subchild">
																			<a href="#" class="ml32px"><span class="trash-icon"></span></a>
																		</div>
																	</div>
																</div>
																<!-- second row -->
																<div class="flex-parent">
																	<div class="flex_child">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="Platform" class="simp-select">
																				<option value="aa" class="Selected">Facebook</option>
																				<option value="AL">Twitter</option>
																				<option value="AK">Linkedin</option>											
																			</select>
																		</div>
																	</div>
																	<div class="flex_child">
																		<div class="socioselect form-control">
																			<select id="select-state" placeholder="frequency" class="simp-select">
																				<option value="aa" class="Selected">Every half an hour</option>
																				<option value="AL">Every 1 hour</option>
																				<option value="AK">Custom</option>											
																			</select>
																		</div>
																	</div>
																	<!-- repeat in this div-->
																	<div class="flex_child colmn_dir">
																		<div class="flex_subchild date">
																			<div class="input-group">															
																				<input type="text" class="form-control" placeholder="Start Date" value="05/02/2017 10:49 A.M" />
																				<span class="input-group-addon calender-icon"><span class=" date-time-icon" ></span></span>
																			</div>
																		</div>
																		
																	</div>
																	<!-- repeat in this div-->
																	<div class="flex_child colmn_dir">
																		<div class="flex_subchild date">
																			<div class="input-group">															
																				<input type="text" class="form-control" placeholder="End Date" value="07/02/2017 09:49 P.M" />
																				<span class="input-group-addon calender-icon"><span class="date-time-icon" ></span></span>
																			</div>
																		</div>
																		
																	</div>
																	<!-- repeat in this div-->
																	<div class="flex_child colmn_dir">
																		<div class="flex_subchild">
																			<a href="#"> <span class="add-icon"></span></a>
																			<a href="#"><span class="trash-icon"></span></a>
																		</div>
																		
																	</div>
																</div>
															</div>
														</div>
														
														<div class="mt20px">
															<img ng-src="{{imageUrl}}schedule-graph.jpg" class="img-responsive" />
														</div>
														<div class="col-sm-12">
														<div class="pull-right mt20px"><a href="#audience" data-toggle="tab" class="send btn btn-compose"> <i class="fa fa-paper-plane"></i> Select Audience</a></div>
													</div>
													</div>
												</div>											
												
											</div>
											<div role="tabpanel" class="tab-pane fade in " id="audience">
												<div class="row">
													
													<div class="col-sm-6">
														<div class="form-group">
															<label class="btm-brd">Select Audience</label>
															<div class="form-group control-group cus_height">
																
																<input type="text" class="demo-default form-control input-tags" value="loyalist">
															</div>				
														</div>
														<div class="form-group">
															<div class="comma-seprated">
																<div class="cancel-select">
																	<i class="fa fa-linkedin-square comma"></i>
																	<label>loyalist</label>
																	<i class="fa fa-close facross"></i>
																</div>
															</div>
															<div class="comma-seprated">
																<div class="cancel-select">
																	<i class="fa fa-google-plus-square comma"></i>
																	<label>Value Seeker</label>
																	<i class="fa fa-close facross"></i>
																</div>
															</div>
															<div class="comma-seprated">
																<div class="cancel-select">
																	<i class="fa fa-instagram comma"></i>
																	<label>Custom</label>
																	<i class="fa fa-close facross"></i>
																</div>
															</div>
															<div class="comma-seprated">
																<div class="cancel-select">
																	<i class="fa fa-pinterest-p circle"></i>
																	<label>Pinterest</label>
																	<i class="fa fa-close facross"></i>
																</div>
															</div>
															<div class="comma-seprated">
																<div class="cancel-select">
																	<i class="fa fa-facebook-square comma "></i>
																	<label>Facebook</label>
																	<i class="fa fa-close facross"></i>
																</div>
															</div>
															<div class="comma-seprated">
																<div class="cancel-select">
																	<i class="fa fa-youtube-square comma"></i>
																	<label>Youtube</label>
																	<i class="fa fa-close facross"></i>
																</div>
															</div>
															<div class="comma-seprated">
																<div class="cancel-select">
																	<i class="fa fa-twitter circle"></i>
																	<label>Twitter</label>
																	<i class="fa fa-close facross"></i>
																</div>
															</div>
														</div>
													</div>
													
												</div>
												
												<div class="row">
													<div class="col-sm-12">													
														<label>Followers Suggestion </label>
														<div class="follower ">
															<div class="row">
																<div class="col-sm-4 col-lg-3" >
																	<div class="panel panel-default social-account">
																		<div class="panel-heading facebook">
																			<h3 class="panel-title"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</h3>
																		</div>
																		<div class="panel-body scrollme" >
																			<div class="row">
																				<div class="col-sm-12">
																					<ul class="pl0px suggestion-list">
																						<li><a href="#">Suggestion 1</a></li>
																						<li><a href="#">Suggestion 2</a></li>
																						<li><a href="#">Suggestion 3</a></li>
																						<li><a href="#">Suggestion 4</a></li>
																						<li><a href="#">Suggestion 5</a></li>
																					</ul>																	
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																 
																<div class="col-sm-4 col-lg-3" >
																	<div class="panel panel-default social-account">
																		<div class="panel-heading instagram">
																			<h3 class="panel-title"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram <i class="fa fa-star pull-right" aria-hidden="true"></i></h3>
																		</div>
																		<div class="panel-body scrollme">
																			<div class="row">
																				<div class="col-sm-12">
																					<ul class="pl0px suggestion-list">
																						<li>Suggestion 1</li>
																						<li>Suggestion 2</li>
																						<li>Suggestion 3</li>
																						<li>Suggestion 4</li>
																						<li>Suggestion 5</li>
																					</ul>																	
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-sm-4 col-lg-3" >
																	<div class="panel panel-default social-account">
																		<div class="panel-heading youtube">
																			<h3 class="panel-title"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube <i class="fa fa-star pull-right" aria-hidden="true"></i></h3>
																		</div>
																		<div class="panel-body scrollme" >
																			<div class="row">
																				<div class="col-sm-12">
																					<ul class="pl0px suggestion-list">
																						<li>Suggestion 1</li>
																						<li>Suggestion 2</li>
																						<li>Suggestion 3</li>
																						<li>Suggestion 4</li>
																						<li>Suggestion 5</li>
																					</ul>																	
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-12 mt20px">
														<div class="pull-right"><a href="#" class="send btn btn-compose"> <i class="fa fa-paper-plane"></i> Send for Review</a></div>
													</div>
												</div>
											</div>
										</div>
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>
					
					<div class="preview-modal popupmodal ">
						<div class="modal fade review" tabindex="-1" role="dialog" id="preview" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content ">
									<form class="client-form">
										<div class="modal-header ">
											<button type="button" class="close " data-dismiss="modal" aria-label="Close"><span class="close-icon"></span></button>
											<ul class="nav nav-tabs" role="tablist">
												<li role="presentation" class="active facebook"><a href="#facebook-post" aria-controls="facebook" role="tab" data-toggle="tab">Facebook</a></li>
												<li role="presentation" class="twitter"><a href="#twitter-post" aria-controls="twitter" role="tab" data-toggle="tab">Twitter</a></li>
												<li role="presentation" class="youtube"><a href="#youtube-post" aria-controls="linkdin" role="tab" data-toggle="tab">Youtube</a></li>
											</ul>
										</div>
										<div class="modal-body">
											<!-- Tab panes -->
											<div class="tab-content">
												<div role="tabpanel" class="tab-pane fade in active" id="facebook-post">
													<div class="row">
														<div class="col-sm-12">
															<img ng-src="{{imageUrl}}preview.jpg" class="img-responsive  center-block" />														
															<h4 class="review-title">Bollywood Actress Kriti Sanon walks for designer duo Sukriti, Akriti</h4>
															<p class="desc">Bollywood Actress Kriti Sanon looked ravishing in a beautiful lehenga by designer duo Sukriti, Akriti on day 2 of the Beach Fashion Week (IBFW) 2017 in Goa.</p>														
														</div>
													</div>
												</div>
												<div role="tabpanel" class="tab-pane fade in" id="twitter-post">
													<div class="row">
														<div class="col-sm-12">
															<img ng-src="{{imageUrl}}preview.jpg" class="img-responsive  center-block" />														
															<h4 class="review-title">Bollywood Actress Kriti Sanon walks for designer duo Sukriti, Akriti</h4>
															<p class="desc">Bollywood Actress Kriti Sanon looked ravishing in a beautiful lehenga by designer duo Sukriti, Akriti on day 2 of the Beach Fashion Week (IBFW) 2017 in Goa.</p>														
														</div>
													</div>
												</div>
												<div role="tabpanel" class="tab-pane fade in" id="youtube-post">
													<div class="row">
														<div class="col-sm-12">
															<img ng-src="{{imageUrl}}preview.jpg" class="img-responsive  center-block" />														
															<h4 class="review-title">Bollywood Actress Kriti Sanon walks for designer duo Sukriti, Akriti</h4>
															<p class="desc">Bollywood Actress Kriti Sanon looked ravishing in a beautiful lehenga by designer duo Sukriti, Akriti on day 2 of the Beach Fashion Week (IBFW) 2017 in Goa.</p>														
														</div>
													</div>
												</div>
												
											</div>
												
										</div>
										<!--<div class="modal-footer">
											<div class="col-sm-12 dis-block">
												<button type="button" data-dismiss="modal" class="btn  btn-cancel ">Cancel</button>
												<button type="submit" class="btn btn-compose">Submit</button>
											</div>
										</div>-->
									</form>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</div>