
					<!-- Progress bar -->
					<div class="container-fluid">
						<div class="row ">
							<div class="col-md-10">
								<div class="row bs-wizard">
									<form class="client-form">
										<div class="process">
											<div class="process-row nav nav-tabs">
												<div class="process-step bs-wizard-step menu1 active"> 
													<div class="progress"><div class="progress-bar"></div></div>
													<a class=" btn btn-info btn-circle bs-wizard-dot" data-toggle="tab" href="#menu1"><span class="flaticon-checked"></span></a>
													<div class="bs-wizard-info text-center ">Client Description</div>
												</div>
												<div class="process-step bs-wizard-step menu2 disabled"> 
													<div class="progress"><div class="progress-bar"></div></div>
													<a  class=" btn btn-default btn-circle bs-wizard-dot" data-toggle="tab" href="#menu2"><span></span></a>
													<div class="bs-wizard-info text-center "> Campaign Details</div>
												</div>
											</div>
										</div>
										
										<div class="tab-content">
											<div id="menu1" class="tab-pane fade active in">
												<div>
													<div class="col-sm-12">
														<div class="form-group">
															<label>Title</label>
															<input type="text" placeholder="Title" class="form-control" />
														</div>
													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label>Description</label>
															<textarea placeholder="Description" class="form-control" ></textarea>
														</div>
													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label>Objective</label>
															<textarea placeholder="Objective" class="form-control" ></textarea>
														</div>
													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label>Social Platform</label>
															<div class="socioselect form-control">
																<select id="select-state" placeholder="Select Platform" class="simp-select">																	
																	<option value="facebook"><i class="fa fa-facebook"></i> Facebook</option>
																	<option value="twitter"><i class="fa fa-twitter"></i> Twitter</option>
																</select>																
															</div>															
														</div>
													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label>Handle</label>
															<div class="socioselect form-control">
																<select id="select-state" placeholder="Select Platform" class="simp-select">
																	
																	<option value="@jetairways">@jetairways</option>
																	<option value="@jetairwaysdelhi">@jetairwaysdelhi</option>
																</select>																
															</div>															
														</div>
													</div>
													<div class="col-sm-12">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group">
																	<label>Budget</label>
																	<div class="input-group">																
																		<input type="text" class="form-control" placeholder="text" />
																		<span class="input-group-addon addon"><i class="fa fa-usd " aria-hidden="true"></i></span>
																	</div>
																</div>
															</div>
														
															<div class="col-sm-3">
																<div class="form-group">
																	<div class="socioselect form-control">
																		<select id="select-state" placeholder="Select Platform" class="simp-select">
																			<option value="@jetairways">@jetairways</option>
																			<option value="@jetairwaysdelhi">@jetairwaysdelhi</option>
																		</select>																
																	</div>															
																</div>
															</div>
															<div class="col-sm-3">
																<div class="form-group">
																	<input type="text" class="form-control" placeholder="budget" value="$ 500" />
																</div>
															</div>
															<div class="col-sm-2">
																<button type="button" class="btn btn-default addcomptr addnewcomptr fr"><span class="add-icon" ></span> <span class="text">Add</span></button>
															</div>
														</div>
													</div>
													<div class="col-sm-12">
														<div class="form-group ">
															<label>Select Campaign Duration</label>
															<div class="radio-options dis-inline mtr15px">
																<label class="vote-radio" >
																	<input type="radio" name="campaignduration" id="" value=""><span>Days</span>
																</label>
															</div>
															<div class="radio-options dis-inline mtr15px">
																<label class="vote-radio" >
																	<input type="radio" name="campaignduration" id="" value=""><span>Week</span>
																</label>
															</div>
														</div>
													</div>
													<div class="col-sm-12">
														<div class="row">
															<div class="col-sm-4">
																<div class="form-group">
																	<label>Country</label>
																	<div class="socioselect form-control">
																		<select id="select-state" placeholder="Select Platform" class="simp-select">
																			<option value="india">India</option>
																			<option value="usa">USA</option>
																		</select>																
																	</div>															
																</div>
															</div>
															<div class="col-sm-4">
																<div class="form-group">
																	<label>City</label>
																	<div class="socioselect form-control">
																		<select id="select-state" placeholder="Select Platform" class="simp-select">
																			<option value="New Delhi">New Delhi</option>
																			<option value="Mumbai">Mumbai</option>
																		</select>																
																	</div>															
																</div>
															</div>
															<div class="col-sm-4">
																<div class="form-group">
																	<label>Region</label>
																	<div class="socioselect form-control">
																		<select id="select-state" placeholder="Select Platform" class="simp-select">
																			<option value="delhi">Delhi</option>
																			<option value="delhi">Delhi</option>
																		</select>																
																	</div>															
																</div>
															</div>
														</div>
													</div>
													<div class="col-sm-12">
														<div class="row">
															<div class="date col-sm-4">
																<div class="input-group">															
																	<input type="text" class="form-control" placeholder="Start Date" />
																	<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																</div>
															</div>
																
															<div class="date col-sm-4">
																<div class="input-group">															
																	<input type="text" class="form-control" placeholder="End Date">
																	<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<ul class="list-unstyled list-inline ">
													<li><button type="button" class="btn btn-done next-step">Save & Continue <i class="fa fa-chevron-right"></i></button></li>
												</ul>
											</div>
											<div id="menu2" class="tab-pane fade">
												<div>
													<div class="col-sm-12">
														<div class="form-group control-group">
															<label>Keywords</label>	
															<input type="text" class="demo-default form-control input-tags" value="sports,women's day">
															
														</div>
													</div>
													<div class="col-sm-12">
														<div class="form-group control-group">
															<label>Hashtags</label>	
															<input type="text" class="demo-default form-control input-tags" value="#sports,#womensday">															
														</div>
														
													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label>Select Team</label>
															<div class="control-group">
																<select class="simp-select form-control" name="state[]" multiple disabled class="demo-default"  placeholder="Select a state...">
																	
																	<option value="Team1">Team1</option>
																	<option value="Team2">Team2</option>
																	<option value="Team3">Team3</option>
																	<option value="Team4">Team4</option>
																</select>
															</div>				
														</div>
													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label>Target Audience</label>
															<div class="form-control">
																<div class="comma-seprated">
																	<div class="cancel-select">
																		<i class="fa fa-twitter circle"></i>
																		<label>loyalist</label>
																		<i class="fa fa-close facross"></i>
																	</div>
																</div>
																<div class="comma-seprated">
																	<div class="cancel-select">
																		<i class="fa fa-twitter circle"></i>
																		<label>Value Seeker</label>
																		<i class="fa fa-close facross"></i>
																	</div>
																</div>
																<div class="comma-seprated">
																	<div class="cancel-select">
																		<i class="fa fa-twitter circle"></i>
																		<label>Custom</label>
																		<i class="fa fa-close facross"></i>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label>Notification Triggers</label>
															<div class="input-group">															
																<input type="text" class="form-control input-text-addon" placeholder="Notification Triggers" />
																<span class="input-group-addon input-icon"><span class=" pencil-icon" ></span></span>
															</div>
														</div>
													</div>
												</div>
												<ul class="list-unstyled list-inline ">
													<li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
													<li><button type="submit" class="btn btn-done"><i class="fa fa-check"></i> Done</button></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					 