					<div class="container-fluid">
						<div class="row">							
							<div class="col-sm-12 mtb">
								<div class="row">
									<div class="col-sm-8">
										<form class="client-form">
											<div class="row">
												<div class="col-sm-3 plr5px">										
													<div class="from-group">
														<div class="button-group socioselect">
															<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Author <i class="fa fa-caret-down" aria-hidden="true"></i></button>
															<ul class="dropdown-menu ">
																<li class="radio-checkbox">
																	<a href="#" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Facebook</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Twitter</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Linkdin</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Instagram</span>
																		</label>
																	</a>
																</li>
															</ul>
														</div>
													</div>											
												</div>
												<div class="col-sm-3 plr5px">										
													<div class="from-group">
														<div class="button-group socioselect">
															<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Platform <i class="fa fa-caret-down" aria-hidden="true"></i></button>
															<ul class="dropdown-menu ">
																<li class="radio-checkbox">
																	<a href="#" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Facebook</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Twitter</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Linkdin</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Instagram</span>
																		</label>
																	</a>
																</li>
															</ul>
														</div>
													</div>											
												</div>
												<div class="col-sm-3 plr5px">										
													<div class="from-group">
														<div class="button-group socioselect">
															<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Date Range <i class="fa fa-caret-down" aria-hidden="true"></i></button>
															<ul class="dropdown-menu ">
																<li class="radio-checkbox">
																	<a href="#" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Facebook</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Twitter</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Linkdin</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Instagram</span>
																		</label>
																	</a>
																</li>
															</ul>
														</div>
													</div>											
												</div>
												<div class="col-sm-2 plr5px">
													<button type="button" class="btn  btn-compose" >Filter</button>
												</div>
											</div>
										</form>
									</div>
									<div class="col-sm-4 pull-right">
										<form class="client-form">
											<div class="form-group mb10px">
												<div class="input-group">															
													<input type="text" class="form-control input-text-addon" placeholder="Search" />
													<span class="input-group-addon search-icon"><i class="fa fa-search"></i></span>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="socio-table table-responsive">
									<table class="table table-striped  table-hover draft">
										<thead>
											<th class="ac">
												<div class="radio-checkbox">
													<label class="check-radio" >
														<input type="radio" name="publish" id="" value="" ><span></span>
													</label>
												</div>
											</th>
											<th>Message</th>
											<th class="fix-width">Author</th>
											<th class="fix-width">Platforms</th>
											<th class="fix-width">Date Time</th>
											<th>Status</th>
											<th>Delete</th>
										</thead>
										<tbody>
											<tr>
												<td class="ac">
													<div class="radio-checkbox ">
														<label class="check-radio" >
															<input type="radio" name="publish" id="" value="" checked><span></span>
														</label>
													</div>
												</td>
												<td>
													<label>So where does the username come into play? Some people who can’t find your social media links </label>
												</td>
												<td><label>John Doe</label></td>
												<td class="ac platform-list">
													<a class="facebook-icon" href="#" ></a>
													<a class="twitter-icon" href="#" ></a>
													<a class="insta-icon" href="#" ></a>
												</td>
												
												<td><label>22 Jan 12:50 P.M</label></td>
												<td><label class="del-red"> Pending</label> </td>
												<td class="ac"> <i class="fa fa-trash del-red"></i></td>
											</tr>
											<tr>
												<td class="ac">
													<div class="radio-checkbox ">
														<label class="check-radio" >
															<input type="radio" name="publish" id="" value="" ><span></span>
														</label>
													</div>
												</td>
												<td>
													<label>There is great debate when it comes to profile photos / avatars on social networks. </label>
												</td>
												<td><label>John Doe</label></td>
												<td class="ac platform-list">
													<a class="facebook-icon" href="#" ></a>
													<a class="twitter-icon" href="#" ></a>
													<a class="insta-icon" href="#" ></a>
												</td>
												<td><label>23 Jan 12:50 P.M</label></td>
												<td><label class="del-red"> </label> </td>
												<td class="ac"> <i class="fa fa-trash del-red"></i></td>
											</tr>
											<tr>
												<td class="ac">
													<div class="radio-checkbox ">
														<label class="check-radio" >
															<input type="radio" name="publish" id="" value="" ><span></span>
														</label>
													</div>
												</td>
												<td>
													<label>My usual thought is that if you are a big enough brand or business with a well-recognized logo.</label>
												</td>
												<td><label>John Doe</label></td>
												<td class="ac platform-list">
													<a class="facebook-icon" href="#" ></a>
													<a class="twitter-icon" href="#" ></a>
													<a class="insta-icon" href="#" ></a>
												</td>
												<td><label>24 Jan 12:50 P.M</label></td>
												<td><label class="del-red"> </label> </td>
												<td class="ac"> <i class="fa fa-trash del-red"></i></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="7" class="pt10b0">
													<div class="page-nation">
														<ul class="pagination pagination-large">
															<li class="disabled"><a rel="next" href="#">Prev</a></li>
															<li class="active"><span>1</span></li>
															<li><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">6</a></li>
															<li><a href="#">7</a></li>
															<li><a href="#">8</a></li>
															<li><a href="#">9</a></li>
															<li><a rel="next" href="#">Next</a></li>									
														</ul>
													</div>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
					