 <div class="container-fluid">
						<div class="row">
							<form class="client-form mt20px publish">
								<div class="col-sm-12">
									<div class="published panel">
										<div class="panel-heading">
											
												<div class="col-sm-3  brd-right">
													<label class="p10px">Filter : Date <i class="fa fa-angle-down filter-circle"></i></label>
												</div>
												<div class="col-sm-8 p7px brd-right">
													<div class="col-sm-3">
														<div class="from-group">
															<div class="button-group socioselect">
																<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown" multiselect >Platform <i class="fa fa-caret-down" aria-hidden="true"></i></button>
																<ul class="dropdown-menu ">
																	<li class="check-box">
																		<a href="#" data-value="option1" tabIndex="-1">
																			<label class="vote-check" >
																				<input type="checkbox" name="optionsradio" id="" value=""><span>Facebook</span>
																			</label>
																		</a>
																	</li>
																	<li class="check-box">
																		<a href="#" class="small" data-value="option1" tabIndex="-1">
																			<label class="vote-check" >
																				<input type="checkbox" name="optionsradio" id="" value="" checked><span>Twitter</span>
																			</label>
																		</a>
																	</li>
																	<li class="check-box">
																		<a href="#" class="small" data-value="option1" tabIndex="-1">
																			<label class="vote-check" >
																				<input type="checkbox" name="optionsradio" id="" value=""><span>Linkedin </span>
																			</label>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="from-group">
															<div class="button-group socioselect">
																<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Campaign 1<i class="fa fa-caret-down" aria-hidden="true"></i></button>
																<ul class="dropdown-menu ">
																	<li class="check-box">
																		<a href="#" data-value="option1" tabIndex="-1">
																			<label class="vote-check" >
																				<input type="checkbox" name="optionsradio" id="" value="" checked><span>Campaign 1</span>
																			</label>
																		</a>
																	</li>
																	<li class="check-box">
																		<a href="#" class="small" data-value="option1" tabIndex="-1">
																			<label class="vote-check" >
																				<input type="checkbox" name="optionsradio" id="" value="" ><span>Campaign 2</span>
																			</label>
																		</a>
																	</li>
																	<li class="check-box">
																		<a href="#" class="small" data-value="option1" tabIndex="-1">
																			<label class="vote-check" >
																				<input type="checkbox" name="optionsradio" id="" value=""><span>Campaign 3</span>
																			</label>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="from-group">
															<div class="button-group socioselect">
																<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Post 3 <i class="fa fa-caret-down" aria-hidden="true"></i></button>
																<ul class="dropdown-menu ">
																	<li class="check-box">
																		<a href="#" data-value="option1" tabIndex="-1">
																			<label class="vote-check" >
																				<input type="checkbox" name="optionsradio" id="" value=""><span>Post 1</span>
																			</label>
																		</a>
																	</li>
																	<li class="check-box">
																		<a href="#" class="small" data-value="option1" tabIndex="-1">
																			<label class="vote-check" >
																				<input type="checkbox" name="optionsradio" id="" value="" ><span>Post 2</span>
																			</label>
																		</a>
																	</li>
																	<li class="check-box">
																		<a href="#" class="small" data-value="option1" tabIndex="-1">
																			<label class="vote-check" >
																				<input type="checkbox" name="optionsradio" id="" value="" checked><span>Post 3</span>
																			</label>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												
												</div>
												<div class="col-sm-1">
													<a href="#" class="calender"><span class="date-icon"></span></a>
												</div>
										</div>
										<div class="panel-body">
												<div class="col-sm-3 p0px brd-right" >
													<div class="all_posts">
														
														<ul class="post-list">
															<li class="division-title day">
																<label>Today</label>
															</li>
															<li class="published-post read">
																<div class="dis-flex publish-check">
																	<div class="dis-flex">
																		<label class="check" ><input type="checkbox" name="optionscheck" id="" value="" checked ><span></span></label>
																		<h5 class="p-name">Zuck</h5>
																	</div>
																	<ul class=" mb0px">
																		<li class="marker"><i class="fa fa-star-o" aria-hidden="true"></i></li>
																	</ul>
																</div>
																<h4>Selling Facebook, I hear it's in your price ...</h4>
																<p>Hey Bruce Lee, lately i’m having doubts on Facebook’s lifetime, you interested in taking it ...</p>
															</li>
															<li class="published-post active">
																<div class="dis-flex publish-check">
																	<div class="dis-flex">
																		<label class="check" ><input type="checkbox" name="optionscheck" id="" value="" checked ><span></span></label>
																		<h5 class="p-name">Zuck</h5>
																	</div>
																	<ul class=" mb0px">
																		<li class="marker"><i class="fa fa-star-o" aria-hidden="true"></i></li>
																	</ul>
																</div>
																<h4><i class="fa fa-paperclip fa-flip-vertical" aria-hidden="true"></i> Selling Facebook, I hear it's in your price ...</h4>
																<p>Hey Bruce Lee, lately i’m having doubts on Facebook’s lifetime, you interested in taking it ...</p>
															</li>
															<li class="published-post unread">
																<div class="dis-flex publish-check">
																	<div class="dis-flex">
																		<label class="check" ><input type="checkbox" name="optionscheck" id="" value="" checked ><span></span></label>
																		<h5 class="p-name">Zuck</h5>
																	</div>
																	<ul class=" mb0px">
																		<li class="marker"><i class="fa fa-star-o" aria-hidden="true"></i></li>
																	</ul>
																</div>
																<h4><i class="fa fa-paperclip fa-flip-vertical" aria-hidden="true"></i> Selling Facebook, I hear it's in your price ...</h4>
																<p>Hey Bruce Lee, lately i’m having doubts on Facebook’s lifetime, you interested in taking it ...</p>
															</li>
															<li class="division-title day">
																<label>Yesterday</label>
															</li>
															<li class="published-post read starred">
																<div class="dis-flex publish-check">
																	<div class="dis-flex">
																		<label class="check" ><input type="checkbox" name="optionscheck" id="" value="" checked ><span></span></label>
																		<h5 class="p-name">Zuck</h5>
																	</div>
																	<ul class=" mb0px">
																		<li class="marker"><i class="fa fa-star-o" aria-hidden="true"></i></li>
																	</ul>
																</div>
																<h4><i class="fa fa-paperclip fa-flip-vertical" aria-hidden="true"></i> Selling Facebook, I hear it's in your price ...</h4>
																<p>Hey Bruce Lee, lately i’m having doubts on Facebook’s lifetime, you interested in taking it ...</p>
															</li>
															<li class="published-post unread">
																<div class="dis-flex publish-check">
																	<div class="dis-flex">
																		<label class="check" ><input type="checkbox" name="optionscheck" id="" value="" checked ><span></span></label>
																		<h5 class="p-name">Zuck</h5>
																	</div>
																	<ul class=" mb0px">
																		<li class="marker"><i class="fa fa-star-o" aria-hidden="true"></i></li>
																	</ul>
																</div>
																<h4><i class="fa fa-paperclip fa-flip-vertical" aria-hidden="true"></i> Selling Facebook, I hear it's in your price ...</h4>
																<p>Hey Bruce Lee, lately i’m having doubts on Facebook’s lifetime, you interested in taking it ...</p>
															</li>
															<li class="published-post read  starred">
																<div class="dis-flex publish-check">
																	<div class="dis-flex">
																		<label class="check" ><input type="checkbox" name="optionscheck" id="" value="" checked ><span></span></label>
																		<h5 class="p-name">Zuck</h5>
																	</div>
																	<ul class=" mb0px">
																		<li class="marker"><i class="fa fa-star-o" aria-hidden="true"></i></li>
																	</ul>
																</div>
																<h4><i class="fa fa-paperclip fa-flip-vertical" aria-hidden="true"></i> Selling Facebook, I hear it's in your price ...</h4>
																<p>Hey Bruce Lee, lately i’m having doubts on Facebook’s lifetime, you interested in taking it ...</p>
															</li>
															<li class="division-title day">
																<label>Monday, 12 March 2017</label>
															</li>
															<li class="published-post read starred">
																<div class="dis-flex publish-check">
																	<div class="dis-flex">
																		<label class="check" ><input type="checkbox" name="optionscheck" id="" value="" checked ><span></span></label>
																		<h5 class="p-name">Zuck</h5>
																	</div>
																	<ul class=" mb0px">
																		<li class="marker"><i class="fa fa-star-o" aria-hidden="true"></i></li>
																	</ul>
																</div>
																<h4><i class="fa fa-paperclip fa-flip-vertical" aria-hidden="true"></i> Selling Facebook, I hear it's in your price ...</h4>
																<p>Hey Bruce Lee, lately i’m having doubts on Facebook’s lifetime, you interested in taking it ...</p>
															</li>
														</ul>
													</div>
												</div>
												<div class="col-sm-9 p0px ">
													<div class="">
														<div class="division-title">
															<label>I tought my dog how to smile!</label>
														</div>
														<div class="published-post-detail">
																<div class="post-content">
																	I gave Rusty a bone and he gave me a smile!
																</div>
																<div class="post-img">
																	<img ng-src="{{imageUrl}}post-img.jpg" class="img-responsive " />
																</div>
																<div class="post-content">
																	I was so overwhelmed with joy I just had to take out my <a href="#">Canon 60D</a> and snap the moment. I’m thinking about getting it framed, know of any places that do cheap frames?
																	<br/>Let me know how things are with you!
																</div>
																<div class="post-content">
																	I was so overwhelmed with joy I just had to take out my <a href="#">Canon 60D</a> and snap the moment. I’m thinking about getting it framed, know of any places that do cheap frames?<br/>
																</div>
															</div>
													</div>
												</div>	
											
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

			 