
					<div class="container-fluid">
						<div class="row">							
							<div class="col-sm-12 mtb20px">
								<div class="row">
									<div class="col-sm-3">
										<form class="client-form">
											<div class="from-group">
												<div class="button-group socioselect">
													<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Platform <i class="fa fa-caret-down" aria-hidden="true"></i></button>
													<ul class="dropdown-menu ">
														<li class="radio-checkbox">
															<a href="#" data-value="option1" tabIndex="-1">
																<label class="check-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>Facebook</span>
																</label>
															</a>
														</li>
														<li>
															<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																<label class="check-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>Twitter</span>
																</label>
															</a>
														</li>
														<li>
															<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																<label class="check-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>Linkdin</span>
																</label>
															</a>
														</li>
														<li>
															<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																<label class="check-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>Instagram</span>
																</label>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</form>
									</div>
									<div class="col-sm-4 pull-right">
										<form class="client-form">
											<div class="form-group">
												<div class="input-group">															
													<input type="text" class="form-control input-text-addon" placeholder="Search" />
													<span class="input-group-addon search-icon"><i class="fa fa-search"></i></span>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<img src="{{imageUrl}}monthly.jpg" class="img-responsive " />
								<img src="{{imageUrl}}weekly.jpg" class="img-responsive " />
							</div>
						</div>
					</div>
