<div class="container-fluid">
						<div class="row">
							<form class="client-form">
							<div class="col-sm-8 pl0px">
								<div class="row">
									<div class="col-sm-12">
										<ul class="platform-summary">
											<li class="">
												<div class="dis-flex">
													<div class="platform-icon">
														<i class="fa fa-facebook"></i>
													</div>
													<div class="platform-statistic">
														<i class="fa fa-caret-up"></i>
														<span>25</span>
													</div>
												</div>
											</li>
											<li class="">
												<div class="dis-flex">
													<div class="platform-icon">
														<i class="fa fa-youtube"></i>
													</div>
													<div class="platform-statistic">
														<i class="fa fa-caret-up"></i>
														<span>25</span>
													</div>
												</div>
											</li>
											<li class="">
												<div class="dis-flex">
													<div class="platform-icon">
														<i class="fa fa-google-plus"></i>
													</div>
													<div class="platform-statistic">
														<i class="fa fa-caret-up"></i>
														<span>25</span>
													</div>
												</div>
											</li>
											<li class="">
												<div class="dis-flex">
													<div class="platform-icon">
														<i class="fa fa-linkedin"></i>
													</div>
													<div class="platform-statistic">
														<i class="fa fa-caret-down"></i>
														<span>25</span>
													</div>
												</div>
											</li>
											<li class="">
												<div class="dis-flex">
													<div class="platform-icon">
														<i class="fa fa-twitter"></i>
													</div>
													<div class="platform-statistic">
														<i class="fa fa-caret-up"></i>
														<span>25</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="summary-box panel">
											<div class="panel-heading">
												<div class="row">
													<div class="col-sm-5"><h4 class="panel-title">Published Post</h4></div>
													<div class="col-sm-7">
														<ul class="summary-filter navbar-right ">
															<li class="active"><a href="#" class="filter">All</a></li>
															<li ><a href="#" class="filter"><i class="fa fa-facebook"></i></a></li>
															<li><a href="#" class="filter"><i class="fa fa-twitter"></i></a></li>
															<li><a href="#" class="filter"><i class="fa fa-linkedin"></i></a></li>
															<li><a href="#" class="filter"><i class="fa fa-google-plus"></i></a></li>
															<li class="dropdown">
																<a class="dropdown-toggle filter" data-toggle="dropdown" href="#" ><i class="fa fa-ellipsis-h"></i></a>
																<ul class="dropdown-menu dropdown-messages dropdown-arrow">
																	<li>
																		<div class="col-sm-3">
																			<label class="p10px">Industry:</label>
																		</div>
																		<div class="col-sm-9 mb5px">
																			<div class="socioselect form-control">
																				<select placeholder="Select Numbers of Brands" class="simp-select">
																					<option value="aa" class="Selected">Global</option>
																					<option value="AL">Global</option>
																					<option value="AK">Global</option>
																					<option value="AZ">Global</option>												
																				</select>
																			</div>
																		</div>
																	</li>																		
																	<li>
																		<div class="col-sm-3">
																			<label class="p10px">#tags:</label>
																		</div>
																		<div class="col-sm-9 mb5px">
																			<div class="socioselect form-control">
																				<select placeholder="Select Numbers of Brands" class="simp-select">
																					<option value="aa" class="Selected">SpiceJet</option>
																					<option value="AL">SpiceJet</option>
																					<option value="AK">SpiceJet</option>
																					<option value="AZ">SpiceJet</option>												
																				</select>
																			</div>
																		</div>
																	</li>	
																</ul>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="panel-body">
												<h4 class="time">Today</h4>												
												<ul>
													<li class=" dis-flex">
														<div class="platform ">
															<div class="platform-icon"><i class="fa fa-facebook-official"></i></div>
														</div>
														<div class="post-summary">
															<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
															
															<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
															<ul class="mb0px post-comments">
																<li><i class="fa fa-thumbs-up"></i> 512</li>
																<li><i class="fa fa-comments"></i> 78 </li>
																<li><i class="fa fa-share-square"></i> 120</li>
																<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
															</ul>
														</div>
													</li>
													<li class=" dis-flex">
														<div class="platform ">
															<div class="platform-icon"><i class="fa fa-twitter"></i></div>
														</div>
														<div class="post-summary">
															<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
															<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
															<ul class="mb0px post-comments">
																<li><i class="fa fa-retweet"></i> 512</li>
																<li><i class="fa fa-heart"></i> 78 </li>
																<li><i class="fa fa-share-square"></i> 120</li>
																<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
															</ul>
														</div>
													</li>
												</ul>
												<h4 class="time">Yesterday</h4>
												<ul>
													<li class=" dis-flex">
														<div class="platform ">
															<div class="platform-icon"><i class="fa fa-twitter"></i></div>
														</div>
														<div class="post-summary">
															<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
															<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
															<ul class="mb0px post-comments">
																<li><i class="fa fa-retweet"></i> 512</li>
																<li><i class="fa fa-heart"></i> 78 </li>
																<li><i class="fa fa-share-square"></i> 120</li>
																<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
															</ul>
														</div>
													</li>
												</ul>
											</div>
											<div class="panel-footer">
												<a ui-sref="published"> <span>View More <i class="fa fa-angle-double-right"></i></span> </a>
											</div>
										</div>
									</div>
								</div>
								<div class="row mt10px">
									<div class="col-sm-12">
										<div class="summary-box panel">
											<div class="panel-heading">
												<div class="row">
													<div class="col-sm-5"><h4 class="panel-title">Trending</h4></div>
													<div class="col-sm-7">
														<ul class="summary-filter navbar-right ">
															<li class="active"><a href="#" class="filter">All</a></li>
															<li ><a href="#" class="filter"><i class="fa fa-facebook"></i></a></li>
															<li><a href="#" class="filter"><i class="fa fa-twitter"></i></a></li>
															<li><a href="#" class="filter"><i class="fa fa-linkedin"></i></a></li>
															<li><a href="#" class="filter"><i class="fa fa-google-plus"></i></a></li>
															<li class="dropdown">
																<a class="dropdown-toggle filter" data-toggle="dropdown" href="#" ><i class="fa fa-ellipsis-h"></i></a>
																<ul class="dropdown-menu dropdown-messages dropdown-arrow">
																	<li>
																		<div class="col-sm-3">
																			<label class="p10px">Platforms:</label>
																		</div>
																		<div class="col-sm-9 mb5px">
																			<div class="socioselect form-control">
																				<select placeholder="Select Numbers of Brands" class="simp-select">
																					<option value="aa" class="Selected">Linkdin</option>
																					<option value="AL">Twitter</option>
																					<option value="AK">Youtube</option>
																					<option value="AZ">Google+</option>												
																				</select>
																			</div>
																		</div>
																	</li>
																</ul>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="panel-body">
												<div class="trending-tab">
													<ul class="nav nav-tabs" role="tablist">
														<li role="presentation" class="active"><a href="#recommended" aria-controls="recommended" role="tab" data-toggle="tab">Recommended</a></li>
														<li role="presentation"><a href="#global" aria-controls="global" role="tab" data-toggle="tab">Global</a></li>
													</ul>
													<div class="tab-content">
														<div role="tabpanel" class="tab-pane fade in active" id="recommended">
															<ul class="key-list ">
																<li>#election</li>
																<li>#StPatricksDay</li>
																<li>#UCLdraw</li>
																<li>#MakeASongIrish</li>
																<li>#Grasse</li>
																<li>#election</li>
																<li>#UCLdraw</li>
																<li>#MakeASongIrish</li>
																<li>#StPatricksDay</li>
															</ul>
															<ul>
																<li class=" dis-flex">
																	<div class="platform ">
																		<div class="platform-icon"><i class="fa fa-facebook-official"></i></div>
																	</div>
																	<div class="post-summary">
																		<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																		<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																		<ul class="mb0px post-comments">
																			<li><i class="fa fa-thumbs-up"></i> 512</li>
																			<li><i class="fa fa-comments"></i> 78 </li>
																			<li><i class="fa fa-share-square"></i> 120</li>
																			<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																		</ul>
																	</div>
																</li>
																<li class=" dis-flex">
																	<div class="platform ">
																		<div class="platform-icon"><i class="fa fa-twitter"></i></div>
																	</div>
																	<div class="post-summary">
																		<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																		<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																		<ul class="mb0px post-comments">
																			<li><i class="fa fa-retweet"></i> 512</li>
																			<li><i class="fa fa-heart"></i> 78 </li>
																			<li><i class="fa fa-share-square"></i> 120</li>
																			<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																		</ul>
																	</div>
																</li>															
																<li class=" dis-flex">
																	<div class="platform ">
																		<div class="platform-icon"><i class="fa fa-twitter"></i></div>
																	</div>
																	<div class="post-summary">
																		<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																		<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																		<ul class="mb0px post-comments">
																			<li><i class="fa fa-retweet"></i> 512</li>
																			<li><i class="fa fa-heart"></i> 78 </li>
																			<li><i class="fa fa-share-square"></i> 120</li>
																			<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																		</ul>
																	</div>
																</li>
															</ul>
														</div>
														<div role="tabpanel" class="tab-pane fade in" id="global">
															<ul class="key-list ">
																<li>#election</li>
																<li>#StPatricksDay</li>
																<li>#UCLdraw</li>
																<li>#MakeASongIrish</li>
																<li>#Grasse</li>
																<li>#election</li>
																<li>#UCLdraw</li>
																<li>#MakeASongIrish</li>
																<li>#StPatricksDay</li>
															</ul>
															<ul>
																<li class=" dis-flex">
																	<div class="platform ">
																		<div class="platform-icon"><i class="fa fa-facebook-official"></i></div>
																	</div>
																	<div class="post-summary">
																		<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																		<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																		<ul class="mb0px post-comments">
																			<li><i class="fa fa-thumbs-up"></i> 512</li>
																			<li><i class="fa fa-comments"></i> 78 </li>
																			<li><i class="fa fa-share-square"></i> 120</li>
																			<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																		</ul>
																	</div>
																</li>
																<li class=" dis-flex">
																	<div class="platform ">
																		<div class="platform-icon"><i class="fa fa-twitter"></i></div>
																	</div>
																	<div class="post-summary">
																		<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																		<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																		<ul class="mb0px post-comments">
																			<li><i class="fa fa-retweet"></i> 512</li>
																			<li><i class="fa fa-heart"></i> 78 </li>
																			<li><i class="fa fa-share-square"></i> 120</li>
																			<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																		</ul>
																	</div>
																</li>															
																<li class=" dis-flex">
																	<div class="platform ">
																		<div class="platform-icon"><i class="fa fa-twitter"></i></div>
																	</div>
																	<div class="post-summary">
																		<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																		<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																		<ul class="mb0px post-comments">
																			<li><i class="fa fa-retweet"></i> 512</li>
																			<li><i class="fa fa-heart"></i> 78 </li>
																			<li><i class="fa fa-share-square"></i> 120</li>
																			<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																		</ul>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
												
											</div>
											<div class="panel-footer">
												<a ui-sref="trending"> <span>View More <i class="fa fa-angle-double-right"></i></span> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 pr0px">
								<div class="row">	
									<div class="col-sm-12">
										<div class="influencer">
											<div class="top-heading">
												<h4>Top Influencer</h4>
											</div>
											<div class="influencer-profile">
												<ul class="mb0px">
													<li><img ng-src="{{imageUrl}}profile.jpg" class="img-responsive" data-toggle="tooltip" data-placement="left" title="John Doe, Facebook" /></li>
													<li><img ng-src="{{imageUrl}}profile.jpg" class="img-responsive" data-toggle="tooltip" data-placement="left" title="John Doe, Facebook"/></li>
													<li><img ng-src="{{imageUrl}}profile.jpg" class="img-responsive" data-toggle="tooltip" data-placement="left" title="John Doe, Facebook"/></li>
													<li><img ng-src="{{imageUrl}}profile.jpg" class="img-responsive" data-toggle="tooltip" data-placement="left" title="John Doe, Facebook"/></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="summary-box panel schedule">
											<div class="panel-heading">
												<div class="row">
													<div class="col-sm-7"><h4 class="panel-title">Scheduled Post</h4></div>
													<div class="col-sm-5">
														<ul class="summary-filter navbar-right ">															
															<li class="dropdown">
																<a class="dropdown-toggle filter" data-toggle="dropdown" href="#" ><i class="fa fa-ellipsis-h"></i></a>
																<ul class="dropdown-menu dropdown-messages dropdown-arrow">
																	<li>
																		<div class="col-sm-3">
																			<label class="p10px">Platforms:</label>
																		</div>
																		<div class="col-sm-9 mb5px">
																			<div class="socioselect form-control">
																				<select placeholder="Select Numbers of Brands" class="simp-select">
																					<option value="aa" class="Selected">All</option>
																					<option value="AL">Facebook</option>
																					<option value="AK">Twitter</option>
																					<option value="AZ">Linkedin</option>												
																				</select>
																			</div>
																		</div>
																	</li>																		
																		
																</ul>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="panel-body">
												<h4 class="time">Today</h4>
												<ul>
													<li class=" dis-flex">
														<div class="platform ">
															<div class="platform-icon"><i class="fa fa-facebook-official"></i></div>
														</div>
														<div class="post-summary">
															<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
															<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
															<ul class="mb0px post-comments">
																<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
															</ul>
														</div>
													</li>
													<li class=" dis-flex">
														<div class="platform ">
															<div class="platform-icon"><i class="fa fa-twitter"></i></div>
														</div>
														<div class="post-summary">
															<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
															<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
															<ul class="mb0px post-comments">
																<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
															</ul>
														</div>
													</li>
												</ul>
												<h4 class="time">Tomorrow</h4>
												<ul>
													<li class=" dis-flex">
														<div class="platform ">
															<div class="platform-icon"><i class="fa fa-twitter"></i></div>
														</div>
														<div class="post-summary">
															<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
															<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
															<ul class="mb0px post-comments">
																<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
															</ul>
														</div>
													</li>
												</ul>
											</div>
											<div class="panel-footer">
												<a ui-sref="scheduled"> <span>View More <i class="fa fa-angle-double-right"></i></span> </a>
											</div>
										</div>
									</div>
								</div> 
								<div class="row mt10px">
									<div class="col-sm-12">
										<div class="summary-box panel">
											<div class="panel-heading">
												<h4 class="panel-title">My Tasks</h4>
											</div>
											<div class="panel-body">
												<ul>
													<li class=" dis-flex">
														<div class="platform">
															<div class="task-icon"><span class="task-schedule"></span></div>
														</div>
														<div class="post-summary">
															<h3 class="task-count">10</h3>
															<h6 class="task-name">Scheduled for Today</h6>
														</div>
													</li>
													<li class=" dis-flex">
														<div class="platform">
															<div class="task-icon"><span class="task-pending"></span></div>
														</div>
														<div class="post-summary">
															<h3 class="task-count">22</h3>
															<h6 class="task-name">Pending Request</h6>
														</div>
													</li>
													<li class=" dis-flex">
														<div class="platform">
															<div class="task-icon"><span class="task-approved"></span></div>
														</div>
														<div class="post-summary">
															<h3 class="task-count">415</h3>
															<h6 class="task-name">Approved Request</h6>
														</div>
													</li>
													<li class=" dis-flex">
														<div class="platform">
															<div class="task-icon"><span class="task-reject"></span></div>
														</div>
														<div class="post-summary">
															<h3 class="task-count">39</h3>
															<h6 class="task-name">Rejected Request</h6>
														</div>
													</li>
												</ul>
												
											</div>
											<div class="panel-footer">
												<a ui-sref="tasks"> <span>View More <i class="fa fa-angle-double-right"></i></span> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							</form>
						</div>
					</div>

