<div class="container-fluid">
						<div class="row">							
							<div class="col-sm-8 mtb20px pull-right">
								<div class="row">
									<div class="col-sm-2"></div>
									<div class="col-sm-3">
										<form class="client-form">
											<div class="from-group">
												<div class="socioselect form-control">
													<select class="simp-select" placeholder="Sort By:">
														<option value="OlderNew">Older - New</option>
														<option value="NewOlder">New - Older</option>
													</select>
												</div>
											</div>
										</form>
									</div>
									<div class="col-sm-3">
										<form class="client-form">
											<div class="from-group">
												<div class="socioselect form-control">
													<select class="simp-select"  placeholder="Sort By:">
														<option value="All">All</option>
														<option value="Approved">Approved</option>
														<option value="Rejected">Rejected</option>
														<option value="Action Pending">Action Pending</option>
													</select>
												</div>
											</div>
										</form>
									</div>
									<div class="col-sm-4">
										<form class="client-form">
											<div class="form-group">
												<div class="input-group">															
													<input type="text" class="form-control input-text-addon" placeholder="Search here..." />
													<span class="input-group-addon search-icon"><i class="fa fa-search"></i></span>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12 task">
								<div class="">
									<div class="row">
										<div class="col-sm-1 radio-checkbox ar">
											<label class="check-radio " >
												<input type="radio" name="optionsradio" id="" value="" checked><span></span>
											</label>
										</div>
										<div class="col-sm-11 bottom-brd pl0px">
											<h4 class="task-title">Twitter Lorem ipsum dolor noretek imit set. Lorem ipsum dolor noretek imit set. Aldus page maker </h4>
											<div class="task-details">
												<ul>
													<li>Author: Michael Smith</li>
													<li>Created on: 22 Jan 12:50 pm</li>
													<li>Due: 22 Jan 12:50 P.M</li>
												</ul>
											</div>
											<div class="task-desc">
												<p>Etiam tristique sollicitudin diam, sed tincidunt metus malesuada sed. Nam in nunc mauris. Aenean finibus lacus at congue vulputate. Sed tristique tellus in libero aliquam semper. Cras iaculis, metus ac viverra imperdiet, nunc massa tincidunt velit...</p>
											</div>
											<div class="task-keywords">
												<ul>
													<li>#sports</li>
													<li>#womenday'sday</li>
													<li>#sports</li>
													<li>#womenday'sday</li>
												</ul>
											</div>
											<div class="task-action">
												<button type="button" class="btn  btn-compose"><span class="flaticon-checked"></span> Approve</button>
												<button type="button" class="btn btn-compose"><span class="close-sm-icon-white"></span> Reject</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 task">
								<div class="">
									<div class="row">
										<div class="col-sm-1 radio-checkbox ar">
											<label class="check-radio " >
												<input type="radio" name="optionsradio" id="" value=""><span></span>
											</label>
										</div>
										<div class="col-sm-11 pl0px">
											<h4 class="task-title">Twitter Lorem ipsum dolor noretek imit set. Lorem ipsum dolor noretek imit set. Aldus page maker </h4>
											<div class="task-details">
												<ul>
													<li>Author: Michael Smith</li>
													<li>Created on: 22 Jan 12:50 pm</li>
													<li>Due: 22 Jan 12:50 P.M</li>
												</ul>
											</div>
											<div class="task-desc">
												<p>Etiam tristique sollicitudin diam, sed tincidunt metus malesuada sed. Nam in nunc mauris. Aenean finibus lacus at congue vulputate. Sed tristique tellus in libero aliquam semper. Cras iaculis, metus ac viverra imperdiet, nunc massa tincidunt velit...</p>
											</div>
											<div class="task-keywords">
												<ul>
													<li>#sports</li>
													<li>#womenday'sday</li>
													<li>#sports</li>
													<li>#womenday'sday</li>
												</ul>
											</div>
											<div class="task-action">
												<button type="button" class="btn  btn-compose"><span class="flaticon-checked"></span> Approve</button>
												<button type="button" class="btn btn-compose"><span class="close-sm-icon-white"></span> Reject</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
