
					<div class="container-fluid">
						
						<div class="row mt10px">
							<form class="client-form">
								<div class="col-sm-12">
									<div class="summary-box panel trending-tab">
										<div class="panel-heading">
											<div class="row">
												<div class="col-sm-5">
													<ul class="nav nav-tabs" role="tablist">
														<li role="presentation" class="active"><a href="#recommended" aria-controls="recommended" role="tab" data-toggle="tab">Recommended</a></li>
														<li role="presentation"><a href="#global" aria-controls="global" role="tab" data-toggle="tab">Global</a></li>
													</ul>
												</div>
												<div class="col-sm-7">
													<ul class="summary-filter navbar-right mt10px">
														<li class="active"><a href="#" class="filter">All</a></li>
														<li ><a href="#" class="filter"><i class="fa fa-facebook"></i></a></li>
														<li><a href="#" class="filter"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#" class="filter"><i class="fa fa-linkedin"></i></a></li>
														<li><a href="#" class="filter"><i class="fa fa-google-plus"></i></a></li>
														<li class="dropdown">
															<a class="dropdown-toggle filter" data-toggle="dropdown" href="#" ><i class="fa fa-ellipsis-h"></i></span></a>
															<ul class="dropdown-menu dropdown-messages dropdown-arrow">
																<li>
																	<div class="col-sm-3">
																		<label class="p10px">Platforms:</label>
																	</div>
																	<div class="col-sm-9 mb5px">
																		<div class="socioselect form-control">
																			<select placeholder="Select Numbers of Brands" class="simp-select">
																				<option value="aa" class="Selected">Linkdin</option>
																				<option value="AL">Twitter</option>
																				<option value="AK">Youtube</option>
																				<option value="AZ">Google+</option>												
																			</select>
																		</div>
																	</div>
																</li>
															</ul>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div class="tab-content">
												<div role="tabpanel" class="tab-pane fade in active" id="recommended">
													<div class="tags">
														<ul class="key-list">
															<li>#batterypark</li>
															<li>#kansas</li>
															<li>#supersaturday</li>
															<li>#airtrain</li>
															<li>#terminal4</li>
															<li>#queenboss</li>
															<li>#batterypark</li>
															<li>#kansas</li>
															<li>#supersaturday</li>
															<li>#airtrain</li>
															<li>#terminal4</li>
															<li>#queenboss</li>
															<li>#batterypark</li>
															<li>#kansas</li>
															<li>#supersaturday</li>
															<li>#airtrain</li>
															<li>#terminal4</li>
															<li>#queenboss</li>
															<li>#batterypark</li>
															<li>#kansas</li>
															<li>#supersaturday</li>
															<li>#airtrain</li>
															<li>#terminal4</li>
															<li>#queenboss</li>
														</ul>
													</div>
													<ul>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-facebook-square"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-thumbs-up"></i> 512</li>
																	<li><i class="fa fa-comments"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-twitter"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>															
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-twitter"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-instagram"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-google-plus"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-linkedin"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
													</ul>
												</div>
												<div role="tabpanel" class="tab-pane fade in" id="global">
													<div class="tags">
														<ul class="key-list">
															<li>#batterypark</li>
															<li>#kansas</li>
															<li>#supersaturday</li>
															<li>#airtrain</li>
															<li>#terminal4</li>
															<li>#queenboss</li>
															<li>#batterypark</li>
															<li>#kansas</li>
															<li>#supersaturday</li>
															<li>#airtrain</li>
															<li>#terminal4</li>
															<li>#queenboss</li>
															<li>#batterypark</li>
															<li>#kansas</li>
															<li>#supersaturday</li>
															<li>#airtrain</li>
															<li>#terminal4</li>
															<li>#queenboss</li>
															<li>#batterypark</li>
															<li>#kansas</li>
															<li>#supersaturday</li>
															<li>#airtrain</li>
															<li>#terminal4</li>
															<li>#queenboss</li>
														</ul>
													</div>
													<ul>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-linkedin"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-facebook-square"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-thumbs-up"></i> 512</li>
																	<li><i class="fa fa-comments"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-twitter"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-instagram"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-google-plus"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
														<li class=" dis-flex">
															<div class="platform ">
																<div class="platform-icon"><i class="fa fa-twitter"></i></div>
															</div>
															<div class="post-summary">
																<h4 class="task-title">Recommend which platform to run campaigns based which platform to run cam...</h4>
																<h6 class="post-desc">Suspendisse dapibus metus vel sagittis dictum. Integer non condimentum...</h6>
																<ul class="mb0px post-comments">
																	<li><i class="fa fa-retweet"></i> 512</li>
																	<li><i class="fa fa-heart"></i> 78 </li>
																	<li><i class="fa fa-share-square"></i> 120</li>
																	<li><i class="fa fa-clock-o"></i>Mar 10, 2017 - 11:00 AM</li>
																</ul>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					
				