
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="campaign-title">I gave Rusty a bone and he gave me a smile!</h3>
								<label class="note">March 09, 2017   to   March 12, 2017</label>								
							</div>
						</div>
					</div>
					
					<div class="container-fluid">
						<form class="client-form">							
							<div class="row">
								<div class="col-sm-12 mtb20px">
									<div class="review view">
										<!-- Nav tabs -->
										<ul class="nav nav-tabs" role="tablist">
											<li role="presentation" class="active"><a href="#campaign" aria-controls="campaign" role="tab" data-toggle="tab">Campaign Details</a></li>
											<li role="presentation"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
										</ul>
										
										<!-- Tab panes -->
										<div class="tab-content p0px">
											<div role="tabpanel" class="tab-pane active fade in" id="campaign">
												<div class="row">
													<div class="col-sm-12">
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Campaign Name:</label></div>
															<div class="col-sm-9"><label>I gave Rusty a bone and he gave me a smile!</label></div>
														</div>
													
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Campaign Description:</label></div>
															<div class="col-sm-9"><label>I was so overwhelmed with joy I just had to take out my Canon 60D and snap the moment. I’m thinking about getting it framed, know of any places that do cheap frames? </label></div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Objective:</label></div>
															<div class="col-sm-9"><label>I was so overwhelmed with joy I just had to take out my Canon 60D and snap the moment. I’m thinking about getting it framed, know of any places that do cheap frames? </label></div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Social Platforms:</label></div>
															<div class="col-sm-9">
																<div class="platform-icon">
																	<i class="fa fa-facebook fa-2x" ></i>
																	<i class="fa fa-twitter fa-2x" ></i>
																	<i class="fa fa-instagram fa-2x" ></i>
																</div>
															</div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Handles:</label></div>
															<div class="col-sm-9">
																<label>@petday, @rusty, @smile, @happy</label>
															</div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Keywords:</label></div>
															<div class="col-sm-9"><label>petday, rusty, smile, happy</label></div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Hashtags:</label></div>
															<div class="col-sm-9"><label>#petday, #rusty, #smile, #happy</label></div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Team:</label></div>
															<div class="col-sm-9"><label>Team 1</label></div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Targeted Audience:</label></div>
															<div class="col-sm-9"><label>Loyalist, Value Seeker, Negative Influencer</label></div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Country:</label></div>
															<div class="col-sm-9"><label>India</label></div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">City:</label></div>
															<div class="col-sm-9"><label>Gurugram</label></div>
														</div>
														<div class="row view-section">
															<div class="col-sm-3"><label class="label-heading">Region:</label></div>
															<div class="col-sm-9"><label>Sohna Road</label></div>
														</div>
														<div class="row view-section ptb10px">
															<div class="col-sm-12">
																<label class="label-heading mb10px">Budget:</label>
																<div class="socio-table table-responsive">
																	<table class="table table-bordered table-hover budget">
																		<thead>
																			<th class="lg-width">Platform</th>
																			<th class="lg-width">Budget</th>
																			<th class="lg-width">Duration</th>
																		</thead>
																		<tbody>
																			<tr>
																				<td><label>Facebook</label></td>
																				<td><i class="fa fa-usd"></i> 20</label></td>
																				<td><label>9 April to 11 April</label></td>
																			</tr>
																			<tr>
																				<td><label>Twiiter</label></td>
																				<td><label><i class="fa fa-inr"></i> 500</label></td>
																				<td><label>9 April to 12 April</label></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>													
														</div>
														<div class="row view-section">
															<div class="col-sm-12">
																<label class="label-heading mb10px">Notification Triggers:</label>
																<div class="socio-table table-responsive">
																	<table class="table table-bordered table-hover budget">
																		<thead>
																			<th class="lg-width">Name</th>
																			<th class="lg-width">Unit</th>
																			<th class="lg-width">Level</th>
																		</thead>
																		<tbody>
																			<tr>
																				<td><label>Reach</label></td>
																				<td><label>Count</label></td>
																				<td><label>5k</label></td>
																			</tr>
																			<tr>
																				<td><label>Shares</label></td>
																				<td><label>Count</td>
																				<td><label>15k</label></td>
																			</tr>
																			<tr>
																				<td><label>Tweets</label></td>
																				<td><label>Count</td>
																				<td><label>10k</label></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="tabpanel" class="tab-pane fade in" id="posts">
												<div class="row">
													<div class="col-sm-12 p20px">
														<div class="socio-table table-responsive">
															<table class="table table-striped table-bordered  table-hover budget">
																<thead>
																	<th class="ac">
																		<div class="radio-checkbox">
																			<label class="check-radio" >
																				<input type="radio" name="publish" id="" value="" ><span></span>
																			</label>
																		</div>
																	</th>
																	<th>Post</th>
																	<th class="fix-width">Author</th>
																	<th class="fix-width">Platforms</th>
																	<th class="fix-width">Date Time</th>
																	<th>Status</th>
																</thead>
																<tbody>
																	<tr>
																		<td class="ac">
																			<div class="radio-checkbox ">
																				<label class="check-radio" >
																					<input type="radio" name="publish" id="" value="" checked><span></span>
																				</label>
																			</div>
																		</td>
																		<td>
																			<label>So where does the username come into play? Some people who can’t find your social media links </label>
																		</td>
																		<td><label>John Doe</label></td>
																		<td class="ac platform-icon">
																			<i class="fa fa-facebook" ></i>
																			<i class="fa fa-twitter" ></i>
																			<i class="fa fa-instagram" ></i>
																		</td>
																		
																		<td><label>22 Jan 12:50 P.M</label></td>
																		<td><label class="del-red"> Pending</label> </td>
																		
																	</tr>
																	<tr>
																		<td class="ac">
																			<div class="radio-checkbox ">
																				<label class="check-radio" >
																					<input type="radio" name="publish" id="" value="" ><span></span>
																				</label>
																			</div>
																		</td>
																		<td>
																			<label>There is great debate when it comes to profile photos / avatars on social networks. </label>
																		</td>
																		<td><label>John Doe</label></td>
																		<td class="ac platform-icon">
																			<i class="fa fa-facebook" ></i>
																			<i class="fa fa-twitter" ></i>
																			<i class="fa fa-instagram" ></i>
																		</td>
																		<td><label>23 Jan 12:50 P.M</label></td>
																		<td><label class="del-red"> </label> </td>
																		
																	</tr>
																	<tr>
																		<td class="ac">
																			<div class="radio-checkbox ">
																				<label class="check-radio" >
																					<input type="radio" name="publish" id="" value="" ><span></span>
																				</label>
																			</div>
																		</td>
																		<td>
																			<label>My usual thought is that if you are a big enough brand or business with a well-recognized logo.</label>
																		</td>
																		<td><label>John Doe</label></td>
																		<td class="ac platform-icon">
																			<i class="fa fa-facebook" ></i>
																			<i class="fa fa-twitter" ></i>
																			<i class="fa fa-instagram" ></i>
																		</td>
																		<td><label>24 Jan 12:50 P.M</label></td>
																		<td><label class="del-red"> </label> </td>
																		
																	</tr>
																</tbody>																
															</table>
														</div>
													</div>
												</div>
											</div>
											
											
										</div>

									</div>
								</div>
								
							</div>
							
						</form>
					</div>


					
				