 
					<!-- Progress bar -->
					<div class="container-fluid">
						<div class="row ">
							<div class="col-md-10">
								<div class="row bs-wizard">
									<form class="client-form" enctype="multipart/form-data" novalidate>
										<div class="process">
											<div class="process-row nav nav-tabs" id="tabs">
												<div class="process-step bs-wizard-step menu1 active"> 
													<div class="progress"><div class="progress-bar"></div></div>
													<a class=" btn btn-info btn-circle bs-wizard-dot" data-toggle="tab" href="#menu1"><span class="flaticon-checked"></span></a>
													<div class="bs-wizard-info text-center ">Client Details</div>
												</div>
												<div class="process-step bs-wizard-step menu2 disabled"> 
													<div class="progress"><div class="progress-bar"></div></div>
													<a  class=" btn btn-default btn-circle bs-wizard-dot" data-toggle="tab" href="#menu2"><span></span></a>
													<div class="bs-wizard-info text-center "> Client Information</div>
												</div>
												<div class="process-step bs-wizard-step menu3 disabled"> 
													<div class="progress"><div class="progress-bar"></div></div>
													<a class=" btn btn-default btn-circle bs-wizard-dot" data-toggle="tab" href="#menu3"><span></span></a>
													<div class="bs-wizard-info text-center "> Create Account</div>
												</div>
											</div>
										</div>
										
										<div class="tab-content">
											<div id="menu1" class="tab-pane fade active in">
												<div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Client Name</label>
															<input type="text" ng-model="client.clientName" placeholder="Type Client Name" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Client Logo</label>
															<input type="file"  id="file-7" file-model="myFile" class="inputfile inputfile-6"  />
															<label for="file-7" class="file-control"><span></span> <strong> Upload</strong></label>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group ">
															<label>Numbers of Brands</label>
															<div class="socioselect form-control">
																<input placeholder="Number Of Brands" min="0" ng-model="client.noOfBrands" type="number" class="form-control">
															</div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Industry</label>
															<input type="text" ng-model="client.industry.industryName" placeholder="Select Industry" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Segment</label>
															<input type="text" ng-model="client.segment" placeholder="Type Segment" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Sub Segment</label>
															<input type="text" ng-model="client.subSegment" placeholder="Enter Sub-Segment" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Web url</label>
															<input type="text" ng-model="client.webUrl" placeholder="Type URL" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Subscription Durations</label>												
															<div class="row">
																<div class="date col-sm-5">
																	<div class="input-group">									
																		 <datepicker date-format="dd/MM/yyyy" datepicker-show="{{visibility}}">
			      <input ng-model="client.startDateString" type="text" placeholder="Start Date" class="angular-datepicker-input form-control"/>
			    </datepicker>


																		 
																		<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																	</div>
																</div>
																<div class="col-sm-2 ac to"><label>to</label></div>
																<div class="date col-sm-5">

															{{client.subscriptionStartDate | date:'dd/MM/yyyy'}}		<div class="input-group">														
																		<datepicker date-format="dd/MM/yyyy" datepicker-show="{{visibility}}">
			      <input ng-model="client.endDateString" type="text" placeholder="End Date" class="angular-datepicker-input form-control"/>
			    </datepicker>
																		<span class="input-group-addon calender-icon"><span class=" date-icon" ></span></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Number of Users</label>
															<input type="number" ng-model="client.noOfUsers" placeholder="Type URL" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>License Type</label>
															<div class="socioselect form-control">
																<select id="select-state" placeholder="Select Numbers of Brands" class="simp-select" ng-model="client.licenseType">
																	<option class="Selected">Select License Type</option>
																	<option value="1">Licence-1</option>
																	<option value="2">Licence-2</option>
																	<option value="3">Licence-3</option>												
																</select>
															</div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Client SocioSEER Platform URL</label>
															<input type="text" ng-model="client.clientSocioSeerPlatformUrl" placeholder="Type URL" class="form-control" />
														</div>
													</div>
												</div>
												<div class="competitor">
													<div class="col-sm-6 mtb20px">
														<h3>Competitor's Definition</h3>
													</div>
													<div class="col-sm-6 mtb20px">
														<button type="button" class="btn btn-default addcomptr addnewcomptr fr"><span class="add-icon" ></span> <span class="text">Add</span></button>
													</div>
													<div class="add-competitor">
														<div class="col-sm-6">
															<div class="form-group">
																<label>Competitor's Name</label>
																<input type="text" ng-model="client.competitiorsDefinitions[0].name" placeholder="Enter Competitor's Name" class="form-control" />
															</div>
														</div>
														<div class="col-sm-6">
															<div class="form-group">
																<label>Competitor's Industry</label>
																<input type="text" ng-model="client.competitiorsDefinitions[0].industry" placeholder="Enter Competitor's Industry" class="form-control" />
															</div>
														</div>
													</div>


													<div class="add-competitor">
														<div class="col-sm-6">
															<div class="form-group">
																<label>Competitor's Name</label>
																<input type="text" ng-model="client.competitiorsDefinitions[1].name" placeholder="Enter Competitor's Name" class="form-control" />
															</div>
														</div>
														<div class="col-sm-6">
															<div class="form-group">
																<label>Competitor's Industry</label>
																<input type="text" ng-model="client.competitiorsDefinitions[1].industry" placeholder="Enter Competitor's Industry" class="form-control" />
															</div>
														</div>
													</div>
													
												</div>
												<ul class="list-unstyled list-inline ">
													<li>
													<button ng-click="saveClientStep1()" type="button" class="btn btn-done next-step">Save & Continue <i class="fa fa-chevron-right"></i></button></li>
												</ul>
											</div>
											<div id="menu2" class="tab-pane fade">
												<div class="fl">
												
													<div class="col-sm-6">
													<div class="form-group">
														<label>Name</label>
														<input ng-model="clientInformation.name" type="text" placeholder="Enter Name" class="form-control" />
													</div>
												</div>
												<div class="col-sm-6">
														<div class="form-group">
															<label>Mobile Number</label>
															<input ng-model="clientInformation.mobileNumber" type="text" placeholder="Enter Mobile Number" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Office Landline</label>
															<input type="text" ng-model="clientInformation.officeLandline" placeholder="Type Number" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Email</label>
															<input type="email" ng-model="clientInformation.email" placeholder="Ener Email Id" class="form-control" />
														</div>
													</div>
												<div class="col-sm-6">
														<div class="form-group">
															<label>Designation</label>
															<input type="text" ng-model="clientInformation.designation" placeholder="Designation" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>City</label>
															<input type="text" ng-model="clientInformation.city" placeholder="City" class="form-control" />
														</div>
													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label>Address</label>
															<textarea ng-model="clientInformation.Address" placeholder="Enter Address here..." class="form-control" ></textarea>
														</div>
													</div>
													
												</div>
													
												<ul class="list-unstyled list-inline ">
													
													<li><button type="button" class="btn btn-default btn-cancel prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
													<li><button ng-click="saveClientStep2()" type="button" class="btn btn-done next-step">Save & Continue <i class="fa fa-chevron-right"></i></button></li>
													
												</ul>
											</div>
											<div id="menu3" class="tab-pane fade">
												<div class="fl">										
													<div class="col-sm-6">
														<div class="form-group">
															<label>First Name</label>
															<input ng-model="accountDetails.firstName" type="text" placeholder="Enter First Name" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Last Name</label>
															<input ng-model="accountDetails.lastName" type="text" placeholder="Enter Last Name" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Password</label>
															<input ng-model="accountDetails.password" type="password" placeholder="Enter Password" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Re-type Passowrd</label>
															<input ng-model="accountDetails.confirmPassword" type="password" placeholder="Re-Enter Password" class="form-control" />
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Email Id</label>
															<input ng-model="accountDetails.email" type="email" placeholder="Enter Email Id" class="form-control" />
														</div>
													</div>
													
													
												</div>
													
												<ul class="list-unstyled list-inline ">
													<li><button type="button" class="btn btn-default btn-cancel prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
													<li><button type="submit" ng-click="saveClientStep3()" class="btn btn-done"><i class="fa fa-check"></i> Done</button></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					