
					<div class="container-fluid">
						<div class="row">							
							<div class="col-sm-10 mtb20px">
								<form class="client-form">
									<div class="col-sm-12">
										<div class="form-group ">											
											<div class="row">		
												<div class="col-sm-3">
													<label class="pt10px pull-right">Select Client:</label>
												</div>
												<div class="col-sm-9">
													<div class="socioselect form-control">
														<select id="select-state" placeholder="Select Client" class="simp-select">
															<option value="aa" class="Selected">Philips</option>
															<option value="AL">Sony</option>
															<option value="AK">MI</option>
															<option value="AZ">Moto</option>												
														</select>
													</div>													
												</div>
											</div>
										</div>
										<div class="form-group">											
											<div class="row">		
												<div class="col-sm-3">
													<label class="pt10px pull-right">Brand Name:</label>
												</div>
												<div class="col-sm-9">
													<div class="row">
														<div class="col-sm-4">
															<input type="text" placeholder="" class="form-control" />
														</div>
														<div class="col-sm-2">
															<label class="pt10px pull-right">Brand Logo:</label>
														</div>
														<div class="col-sm-6">
															<input type="file" placeholder="" class="form-control" />
															<label class="note">Maximum size of 10 MB is allowed</label>
														</div>
														<div class="col-sm-12 brands">
															<button type="button" class="btn btn-default addcomptr "><span class="add-icon"></span> <span class="text">Add</span></button>
															<ul class="brand-listing create pl0px">
																<li class="">
																	<div class="dis-flex">
																		<div class="flex-ch1 ">
																			<img ng-src="{{imageUrl}}brands/lighting.png" class="img-responsive center-block" />
																		</div>
																		<div class="flex-ch2">
																			<label class="">Lighting Products</label>
																		</div>
																	</div>
																</li>
																<li class="">
																	<div class="dis-flex">
																		<div class="flex-ch1 ">
																			<img ng-src="{{imageUrl}}brands/audio.png" class="img-responsive center-block" />
																		</div>
																		<div class="flex-ch2">
																			<label class="">Audio Products</label>
																		</div>
																	</div>
																</li>
																<li class="">
																	<div class="dis-flex">
																		<div class="flex-ch1 ">
																			<img ng-src="{{imageUrl}}brands/healthcare.png" class="img-responsive center-block" />
																		</div>
																		<div class="flex-ch2">
																			<label class="">Healthcare Products</label>
																		</div>
																	</div>
																</li>
																<li class="">
																	<div class="dis-flex">
																		<div class="flex-ch1 ">
																			<img ng-src="{{imageUrl}}brands/imaging.png" class="img-responsive center-block" />
																		</div>
																		<div class="flex-ch2">
																			<label class="">Imaging Products</label>
																		</div>
																	</div>
																</li>
																
															</ul>
														</div>
													</div>													
												</div>
											</div>
										</div>
										<div class="form-group mt10px">
											<div class="row">		
												<div class="col-sm-3">
													
												</div>
												<div class="col-sm-9">
													<input type="button" class="btn btn-compose" value="Save" />												
												</div>
											</div>
											
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

				