
					
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-10">
								<div class="row">
									<div class="col-sm-12 mtb20px">
										<h3 class="sub-heading">Audience Definition</h3>
									</div>
									<form class="client-form">
										<div class="form-group dis-block">											
											<div class="col-sm-3">
												<label class="pt10px">Audience Name:</label>
											</div>
											<div class="col-sm-9">
												<input type="text" placeholder="Audience Name" class="form-control" />
											</div>
										</div>
										<div class="form-group dis-block">											
											<div class="col-sm-3">
												<label class="pt10px">Audience Source:</label>
											</div>
											<div class="col-sm-9">
												<div class="button-group socioselect">
													<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Select Audience Source <i class="fa fa-caret-down" aria-hidden="true"></i></button>
													<ul class="dropdown-menu ">
														<li class="radio-checkbox">
															<a href="#" data-value="option1" tabIndex="-1">
																<label class="check-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>Facebook</span>
																</label>
															</a>
														</li>
														<li>
															<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																<label class="check-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>Twitter</span>
																</label>
															</a>
														</li>
														<li>
															<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																<label class="check-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>Linkdin</span>
																</label>
															</a>
														</li>
														<li>
															<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																<label class="check-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>Instagram</span>
																</label>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="form-group dis-block">											
											<div class="col-sm-3">
												<label class="pt10px">Select Handle:</label>
											</div>
											<div class="col-sm-9">
												<div class="button-group socioselect">
															<button type="button" class="form-control dropdown-toggle " data-toggle="dropdown">Select Handle<i class="fa fa-caret-down" aria-hidden="true"></i></button>
															<ul class="dropdown-menu " >
																<li class="radio-checkbox">
																	<a href="#" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value="" checked><span>@sports</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>@cricket</span>
																		</label>
																	</a>
																</li>
															</ul>
														</div>
											</div>
										</div>
										<div class="form-group dis-block">											
											<div class="col-sm-3">
												<label class="pt10px">Owner Name:</label>
											</div>
											<div class="col-sm-9">
												<input type="text" placeholder="John Doe" class="form-control" />
											</div>
										</div>
										<div class="form-group dis-block">											
											<div class="col-sm-3">
												<label class="pt10px">Description:</label>
											</div>
											<div class="col-sm-9">
												<textarea class="form-control" placeholder="Lorem Ipsum is simply dummy text of the since the 1500s." ></textarea>
											</div>
										</div>
										
										<div class="col-sm-12 dis-block">
											<div class=" pull-right">
												<button type="button" class="btn  btn-cancel">Cancel</button>
												<button type="submit" class="btn btn-compose">Submit</button>
											</div>
										</div>
										
									</form>
								</div>
							</div>
						</div>
					</div>
					
			