<div class="container-fluid">
						<div class="row">							
							<div class="col-sm-12 mtb20px">
								<div class="row">
									<div class="col-sm-3">
										<form class="client-form">
											<div class="from-group">
												<select class="multidrop" multiple="multiple" placeholder="Social Media">
													<option value="Facebook" selected>Facebook</option>
													<option value="Twitter" selected>Twitter</option>
													<option value="Linkedin">Linkedin</option>
													<option value="Youtube">Youtube</option>
												</select>
											</div>
										</form>
									</div>
									<div class="col-sm-4 pull-right">
										<form class="client-form">
											<div class="form-group">
												<div class="input-group">															
													<input type="text" class="form-control input-text-addon" placeholder="Search" />
													<span class="input-group-addon search-icon"><i class="fa fa-search"></i></span>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="socio-table table-responsive">
									<table class="table table-striped table-bordered table-hover audience">
										<thead>
											<tr>
												<th>Name <i class="fa fa-sort-amount-asc fr asc-sort" aria-hidden="true"></i></th>
												<th class="sm-width">User count <i class="fa fa-exchange fa-rotate-270 fr exchange" aria-hidden="true"></i></th>
												<th class="sm-width">Platform</th>
												<th class="sm-width">Last Modified <i class="fa fa-exchange fa-rotate-270 fr exchange" aria-hidden="true"></i></th>
												<th>Type</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Loyalist</td>
												<td>5</td>
												<td class="platform-icon"><i class="fa fa-facebook "></i> Facebook</td>
												<td>13/03/2017</td>
												<td>Custom</td>
												<td class="ac">
													<a class="btn btn-action" data-toggle="modal" href="#edit" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
													<a class="btn btn-action" data-toggle="modal" href="#view" ><i class="fa fa-eye" aria-hidden="true"></i> View</a>
													<a class="btn btn-action" data-toggle="modal" href="#delete" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
												</td>
											</tr>
											<tr>
												<td>Negative Influencer</td>
												<td>15</td>
												<td class="platform-icon"><i class="fa fa-twitter "></i> Twitter</td>
												<td>12/03/2017</td>
												<td>System</td>
												<td class="ac">
													<a class="btn btn-action" data-toggle="modal" href="#edit" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
													<a class="btn btn-action" data-toggle="modal" href="#view" ><i class="fa fa-eye" aria-hidden="true"></i> View</a>
													<a class="btn btn-action" data-toggle="modal" href="#delete" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
												</td>
											</tr>
											<tr>
												<td>Value Seeker</td>
												<td>12</td>
												<td class="platform-icon"><i class="fa fa-youtube "></i> You tube</td>
												<td>11/03/2017</td>
												<td>Custom</td>
												<td class="ac">
													<a class="btn btn-action" data-toggle="modal" href="#edit" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
													<a class="btn btn-action" data-toggle="modal" href="#view" ><i class="fa fa-eye" aria-hidden="true"></i> View</a>
													<a class="btn btn-action" data-toggle="modal" href="#delete" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
												</td>
											</tr>
											<tr>
												<td>Custom 1</td>
												<td>11</td>
												<td class="platform-icon"><i class="fa fa-linkedin "></i> Linkdin</td>
												<td>10/03/2017</td>
												<td>System</td>
												<td class="ac">
													<a class="btn btn-action" data-toggle="modal" href="#edit" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
													<a class="btn btn-action" data-toggle="modal" href="#view" ><i class="fa fa-eye" aria-hidden="true"></i> View</a>
													<a class="btn btn-action" data-toggle="modal" href="#delete" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
												</td>
											</tr>
											<tr>
												<td>Custom 2</td>
												<td>8</td>
												<td class="platform-icon"><i class="fa fa-pinterest-p "></i> Pinterest</td>
												<td>9/03/2017</td>
												<td>Custom</td>
												<td class="ac">
													<a class="btn btn-action" data-toggle="modal" href="#edit" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
													<a class="btn btn-action" data-toggle="modal" href="#view" ><i class="fa fa-eye" aria-hidden="true"></i> View</a>
													<a class="btn btn-action" data-toggle="modal" href="#delete" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
												</td>
											</tr>
											<tr>
												<td>Value Seeker</td>
												<td>4</td>
												<td class="platform-icon"><i class="fa fa-twitter "></i> Twitter</td>
												<td>8/03/2017</td>
												<td>System</td>
												<td class="ac">
													<a class="btn btn-action" data-toggle="modal" href="#edit" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
													<a class="btn btn-action" data-toggle="modal" href="#view" ><i class="fa fa-eye" aria-hidden="true"></i> View</a>
													<a class="btn btn-action" data-toggle="modal" href="#delete" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
												</td>
											</tr>
											<tr>
												<td>Custom 3</td>
												<td>15</td>
												<td class="platform-icon"><i class="fa fa-twitter "></i> Twitter</td>
												<td>7/03/2017</td>
												<td>System</td>
												<td class="ac">
													<a class="btn btn-action" data-toggle="modal" href="#edit" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
													<a class="btn btn-action" data-toggle="modal" href="#view" ><i class="fa fa-eye" aria-hidden="true"></i> View</a>
													<a class="btn btn-action" data-toggle="modal" href="#delete" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="3" class="no-right-brd">
													<span class="total-entries">Showing 1 to 7 of 42 entries</span>
												</td>
												<td colspan="3" class="ar">
													<div class="page-nation">
														<ul class="pagination pagination-large">
															<li class="disabled"><a rel="next" href="#">Prev</a></li>
															<li class="active"><span>1</span></li>
															<li><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">6</a></li>
															<li><a href="#">7</a></li>
															<li><a href="#">8</a></li>
															<li><a href="#">9</a></li>
															<li><a rel="next" href="#">Next</a></li>									
														</ul>
													</div>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
						
					<div class="edit-modal popupmodal">
						<div class="modal fade" tabindex="-1" role="dialog" id="edit" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<form class="client-form">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="close-icon"></span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">Edit Audience</h4>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<h3 class="sub-heading">Audience Definition</h3>
												</div>
											</div>
											<div class="row ">
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Audience Name:</label>
													</div>
													<div class="col-sm-8">
														<input type="text" placeholder="Audience Name" class="form-control" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Audience Source:</label>
													</div>
													<div class="col-sm-8">
														<div class="button-group socioselect">
															<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Select Audience Source<i class="fa fa-caret-down" aria-hidden="true"></i></button>
															<ul class="dropdown-menu ">
																<li class="radio-checkbox">
																	<a href="#" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Facebook</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Twitter</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Linkdin</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>Instagram</span>
																		</label>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group dis-block plr10px">											
											<div class="col-sm-4">
												<label class="pt10px">Select Handle:</label>
											</div>
											<div class="col-sm-8">
												<div class="button-group socioselect">
															<button type="button" class="form-control dropdown-toggle " data-toggle="dropdown">Select Handle<i class="fa fa-caret-down" aria-hidden="true"></i></button>
															<ul class="dropdown-menu " >
																<li class="radio-checkbox">
																	<a href="#" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value="" checked><span>@sports</span>
																		</label>
																	</a>
																</li>
																<li>
																	<a href="#" class="small radio-checkbox" data-value="option1" tabIndex="-1">
																		<label class="check-radio" >
																			<input type="radio" name="optionsradio" id="" value=""><span>@cricket</span>
																		</label>
																	</a>
																</li>
															</ul>
														</div>
											</div>
										</div>
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Owner Name:</label>
													</div>
													<div class="col-sm-8">
														<input type="text" placeholder="John Doe" class="form-control" />
													</div>
												</div>
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Description:</label>
													</div>
													<div class="col-sm-8">
														<textarea class="form-control" placeholder="Lorem Ipsum is simply dummy text of the since the 1500s." ></textarea>
													</div>
												</div>
												
											</div>
											<!--<div class="row">
												<div class="pull-right">
													<div class="form-group plr10px">														
														<div class="radio-checkbox dis-inline mtr15px">
															<label class="check-radio" >
																<input type="radio" name="publish" id="" value="" checked><span>Published</span>
															</label>
														</div>
														<div class="radio-checkbox dis-inline mtr15px">
															<label class="check-radio" >
																<input type="radio" name="publish" id="" value=""><span>Secured Audience</span>
															</label>
														</div>														
													</div>
												</div>
											</div>-->
										</div>
										<div class="modal-footer">
											<div class="col-sm-12 dis-block">
												<button type="button" data-dismiss="modal" class="btn  btn-cancel ">Cancel</button>
												<button type="submit" class="btn btn-compose">Submit</button>
											</div>
										</div>
									</form>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</div>
					
					<div class="view-modal popupmodal">
						<div class="modal fade" tabindex="-1" role="dialog" id="view" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<form class="client-form">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="close-icon"></span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">Negative Influencer</h4>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<h3 class="sub-heading">Audience Definition</h3>
												</div>
											</div>
											<div class="row ">
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Audience Name:</label>
													</div>
													<div class="col-sm-8">
														<input type="text" placeholder="Audience Name" class="form-control" readonly />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Platform:</label>
													</div>
													<div class="col-sm-8">
														<input type="text" placeholder="Platform" class="form-control" readonly />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Users:</label>
													</div>
													<div class="col-sm-8">
														<ul class="user-count">
															<li>John Doe</li>
															<li>Jack</li>
															<li>Jacky</li>
															<li>Will Smith</li>
															<li>Jimmy</li>
														</ul>
													</div>
												</div>
												
														
											</div>
										</div>
										<div class="modal-footer">
											<!--<div class="col-sm-12 dis-block">
												<button type="button" class="btn  btn-cancel" disabled="disabled">Cancel</button>
												<button type="submit" class="btn btn-compose" disabled="disabled">Submit</button>
											</div>-->
										</div>
									</form>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</div>

					<div class="delete-modal popupmodal">
						<div class="modal fade bs-example-modal-sm" id="delete" tabindex="-1" role="dialog" >
							<div class="modal-dialog modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="close-icon"></span></button>
											<h4 class="modal-title" >Delete</h4>
										</div>
									<div class="modal-body">
										<h4 class="warning">Are you sure you want to delete?</h4>
									</div>
									<div class="modal-footer">
										<div class="col-sm-12 dis-block">
											<button type="button" class="btn  btn-compose" >OK</button>
											<button type="button" data-dismiss="modal" class="btn btn-cancel">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					