

					<div class="container-fluid">
						<div class="row">							
							<div class="col-sm-12 content-header">
								<div class="row">
									<div class="col-sm-2">
										<a data-toggle="modal" href="#add" ><button type="submit" class="btn btn-compose"><span class="fa fa-plus"></span> Add</button></a>
									</div>
									<div class="col-sm-4"></div>
									<div class="col-sm-2">
										<form class="client-form">
											<div class="from-group">
												<div class="button-group socioselect">
													<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Sort By: <i class="fa fa-caret-down" aria-hidden="true"></i></button>
													<ul class="dropdown-menu ">
														<li class="radio-options">
															<a href="#" data-value="option1" tabIndex="-1">
																<label class="vote-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>All</span>
																</label>
															</a>
														</li>
														<li class="radio-options">
															<a href="#" class="small" data-value="option1" tabIndex="-1">
																<label class="vote-radio" >
																	<input type="radio" name="optionsradio" id="" value="" checked><span>Older - New</span>
																</label>
															</a>
														</li>
														<li class="radio-options">
															<a href="#" class="small" data-value="option1" tabIndex="-1">
																<label class="vote-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>New - Older</span>
																</label>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</form>
									</div>									
									<div class="col-sm-4">
										<form class="client-form">
											<div class="form-group">
												<div class="input-group">															
													<input type="text" class="form-control input-text-addon" placeholder="Search here..." />
													<span class="input-group-addon search-icon"><i class="fa fa-search"></i></span>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12 content-tab">
								<div class=" ">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
										<li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab">Media</a></li>
									</ul>
									
									<!-- Tab panes -->
									<div class="tab-content">
									    <div role="tabpanel" class="tab-pane active" id="content">
											<div class="row">
												<div class="col-sm-12">
													<div class="pull-right filter">
														<div class="radio-checkbox dis-inline mtr15px">
															<label class="check-radio" >
																<input type="radio" name="publish" id="" value="" checked><span>All</span>
															</label>
														</div>
														<div class="radio-checkbox dis-inline mtr15px">
															<label class="check-radio" >
																<input type="radio" name="publish" id="" value="" ><span>Blogs</span>
															</label>
														</div>
														<div class="radio-checkbox dis-inline mtr15px">
															<label class="check-radio" >
																<input type="radio" name="publish" id="" value="" ><span>News</span>
															</label>
														</div>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="content-box">
														<div class="row">
															<div class="col-sm-8"><h4 class="content-title">Confirmed: Chelsea legend Michael Essien has a new club.. </h4></div>
															<div class="col-sm-4">
																<ul class="content-action">
																	<li>Fri, Mar 12 2017</li>
																	<li><a ui-sref="#"><i class="fa fa-files-o" aria-hidden="true"></i></a></li>
																	<li><i class="fa fa-trash" aria-hidden="true"></i></li>															
																</ul>
															</div>
															<div class="col-sm-12">
																<div class="content-details">
																	<ul>
																		<li>Website: Trends24.in</li>
																		<li>Section: Sports- Football</li>
																		<li>Author: John Doe</li>
																	</ul>
																</div>
															</div>
															<div class="col-sm-12">
																<div class="content-desc">
																	<p>Donec vel facilisis turpis, ut posuere dolor. Nam auctor enim felis, ut rhoncus augue vehicula non. Fusce sit amet sapien venenatis, fringilla ligula id, sodales lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus bibendum dui eget euismod mollis.</p>
																</div>
															</div>
															<div class="col-sm-12">
																<div class="content-share">
																	<span class="share-icon"></span>Source URL: <a href="http://www.lymanmorse.com/refits">http://www.lymanmorse.com/refits</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="content-box">
														<div class="row">
															<div class="col-sm-8"><h4 class="content-title">Confirmed: Chelsea legend Michael Essien has a new club.. </h4></div>
															<div class="col-sm-4">
																<ul class="content-action">
																	<li>Fri, Mar 12 2017</li>
																	<li><a ui-sref="#" ><i class="fa fa-files-o" aria-hidden="true"></i></a></li>
																	<li><i class="fa fa-trash" aria-hidden="true"></i></li>															
																</ul>
															</div>
															<div class="col-sm-12">
																<div class="content-details">
																	<ul>
																		<li>Website: Trends24.in</li>
																		<li>Section: Sports- Football</li>
																		<li>Author: John Doe</li>
																	</ul>
																</div>
															</div>
															<div class="col-sm-12">
																<div class="content-desc">
																	<p>Donec vel facilisis turpis, ut posuere dolor. Nam auctor enim felis, ut rhoncus augue vehicula non. Fusce sit amet sapien venenatis, fringilla ligula id, sodales lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus bibendum dui eget euismod mollis.</p>
																</div>
															</div>
															<div class="col-sm-12">
																<div class="content-share">
																	<span class="share-icon"></span>Source URL: <a href="http://www.lymanmorse.com/refits">http://www.lymanmorse.com/refits</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div role="tabpanel" class="tab-pane" id="media">
											<div class="container-fluid">
												<div class="row">
													<div class="col-sm-12">
													<div class="pull-right filter">
														<div class="radio-checkbox dis-inline mtr15px">
															<label class="check-radio" >
																<input type="radio" name="publish" id="" value="" checked><span>All</span>
															</label>
														</div>
														<div class="radio-checkbox dis-inline mtr15px">
															<label class="check-radio" >
																<input type="radio" name="publish" id="" value="" ><span>Blogs</span>
															</label>
														</div>
														<div class="radio-checkbox dis-inline mtr15px">
															<label class="check-radio" >
																<input type="radio" name="publish" id="" value="" ><span>News</span>
															</label>
														</div>
													</div>
												</div>
													<div class="col-sm-12">
														<img ng-src="{{imageUrl}}content-library-media.jpg" class="img-responsive " />
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="add-modal popupmodal">
						<div class="modal fade" tabindex="-1" role="dialog" id="add" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<form class="client-form">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="close-icon"></span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">Add Content</h4>
										</div>
										<div class="modal-body">
											<div class="row ">
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Add Title:</label>
													</div>
													<div class="col-sm-8">
														<input type="text" placeholder="Holi: the festival of colours" class="form-control" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Audience Source:</label>
													</div>
													<div class="col-sm-8">
														<textarea class="form-control" placeholder="">In 2017, Holi is listed as a holiday on March 13th in: Arunachal Pradesh, Assam, Bihar, Chandigarah, Chhattisgarh, Delhi, Goa, Gujarat, Haryana, Himachal Pradesh,</textarea>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Keywords:</label>
													</div>
													<div class="col-sm-8">
														<input type="text" placeholder="Holi, Celebration, Holi Party" class="form-control light-text" />
													</div>
												</div>
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Source URL:</label>
													</div>
													<div class="col-sm-8">
														<input type="text" placeholder="http://www.officeholidays.com/countries/india/holi.php" class="form-control light-text" />
													</div>
												</div>
												<div class="form-group dis-block plr10px">											
													<div class="col-sm-4">
														<label class="pt10px">Upload Media:</label>
													</div>
													<div class="col-sm-8">
														<input type="file" placeholder="upload file" class="form-control">
														<label class="note">Maximum size of 10 MB is allowed</label>
														<img ng-src="{{imageUrl}}content-image.jpg" class="img-responsive img-thumbnail" />
														<label>Or</label>
														<input type="text" placeholder="https://youtu.be/OOBW5gXzKXE" class="form-control mtb20px" />
														<img ng-src="{{imageUrl}}content-video.jpg" class="img-responsive" />
													</div>
												</div>	
											</div>											
										</div>
										<div class="modal-footer">
											<div class="col-sm-12 dis-block">
												<button type="submit" class="btn btn-compose">Save</button>
											</div>
										</div>
									</form>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</div>
					
				