

					<div class="container-fluid">
						<div class="row">							
							<div class="col-sm-12 content-header">
								<div class="row">
									
									<div class="col-sm-6"></div>
									<div class="col-sm-2">
										<form class="client-form">
											<div class="from-group">
												<div class="button-group socioselect">
													<button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">Sort By: <i class="fa fa-caret-down" aria-hidden="true"></i></button>
													<ul class="dropdown-menu ">
														<li class="radio-options">
															<a href="#" data-value="option1" tabIndex="-1">
																<label class="vote-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>All</span>
																</label>
															</a>
														</li>
														<li class="radio-options">
															<a href="#" class="small" data-value="option1" tabIndex="-1">
																<label class="vote-radio" >
																	<input type="radio" name="optionsradio" id="" value="" checked><span>Older - New</span>
																</label>
															</a>
														</li>
														<li class="radio-options">
															<a href="#" class="small" data-value="option1" tabIndex="-1">
																<label class="vote-radio" >
																	<input type="radio" name="optionsradio" id="" value=""><span>New - Older</span>
																</label>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</form>
									</div>									
									<div class="col-sm-4">
										<form class="client-form">
											<div class="form-group">
												<div class="input-group">															
													<input type="text" class="form-control input-text-addon" placeholder="Search here..." />
													<span class="input-group-addon search-icon"><i class="fa fa-search"></i></span>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>							
						</div>
						
						<div class="row">
							<form class="client-form suggestion-form mt20px">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
											<ul class="pl0px suggestion">
												<li>
													<h3 class="suggestion-heading">Social Post</h3>
												</li>
												<li class="fr">
													<div class="socioselect form-control">
														<select id="select-state" placeholder="Select Industry" class="simp-select">
															<option value="aa" class="Selected">Industry</option>
															<option value="AL">Alabama</option>
															<option value="AK">Alaska</option>
														</select>
													</div>
												</li>
												<li class="fr">
													<div class="socioselect form-control">
														<select id="select-state" placeholder="Sort By" class="simp-select">
															<option value="aa" class="Selected">Sort By</option>
															<option value="AL">Alabama</option>
															<option value="AK">Alaska</option>
														</select>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<ul class="pl0px ">
												<li class="social-post facebook">
													<div class="row">
														<div class="col-sm-3">
															<img ng-src="{{imageUrl}}social-post-pic.jpg" class="img-responsive" />															
														</div>
														<div class="col-sm-9 task-details post-info">
															<div class="row">
																<div class="col-sm-12">
																	<h4 class="task-title">Confirmed: Chelsea legend Michael</h4>
																</div>
																<div class="col-sm-7">
																	<ul class="pl0px">
																		<li>2 <i class="fa fa-thumbs-up"></i></li>
																		<li>19 <i class="fa fa-share"></i></li>
																		<li>5 <i class="fa fa-comments"></i></li>
																	</ul>
																</div>
																<div class="col-sm-5">
																	<span class="post-date">Fri, Mar 12 2017</span>
																</div>
																<div class="col-sm-12 post">
																	Donec vel facilisis turpis, ut posuere dolor. Nam auctor enim felis, ut rhoncus augue vehicula non. Fusce sit amet sapien venenatis, fringilla ligula id, sodales lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus bibendum dui eget euismod mollis.
																
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-3">
															<label class="platform-bg"><i class="fa fa-facebook"></i></label>
														</div>
														<div class="col-sm-9">
															<a href="" class="btn btn-post">Schedule</a>
															<a href="" class="btn btn-post">Add to client library</a>
														</div>
													</div>
												</li>
											
												<li class="social-post twitter">
													<div class="row">
														<div class="col-sm-3">
															<img ng-src="{{imageUrl}}social-post-pic.jpg" class="img-responsive" />
															
														</div>
														<div class="col-sm-9 task-details post-info ">
															<div class="row">
																<div class="col-sm-12">
																	<h4 class="task-title">Confirmed: Chelsea legend Michael</h4>
																</div>
																<div class="col-sm-7">
																	<ul class="pl0px">
																		<li>2 <i class="fa fa-thumbs-up"></i></li>
																		<li>19 <i class="fa fa-share"></i></li>
																		<li>5 <i class="fa fa-comments"></i></li>
																	</ul>
																</div>
																<div class="col-sm-5">
																	<span class="post-date">Fri, Mar 12 2017</span>
																</div>
																<div class="col-sm-12 post">
																	Donec vel facilisis turpis, ut posuere dolor. Nam auctor enim felis, ut rhoncus augue vehicula non. Fusce sit amet sapien venenatis, fringilla ligula id, sodales lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus bibendum dui eget euismod mollis.
																
																</div>
															</div>															
														</div>
													</div>
													<div class="row">
														<div class="col-sm-3">
															<label class="platform-bg"><i class="fa fa-twitter"></i></label>
														</div>
														<div class="col-sm-9 ">
															<a href="" class="btn btn-post">Schedule</a>
															<a href="" class="btn btn-post">Add to client library</a>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
											<ul class="pl0px suggestion">
												<li>
													<h3 class="suggestion-heading">Blog/News</h3>
												</li>
												<li class="fr">
													<div class="socioselect form-control">
														<select id="select-state" placeholder="Sort By" class="simp-select">
															<option value="aa" class="Selected">Sort By</option>
															<option value="AL">Alabama</option>
															<option value="AK">Alaska</option>
														</select>
													</div>
												</li>
											</ul>
										</div>
										<div class="col-sm-12">
											<ul class="blog pl0px">
												<li class="social-post">
													<div class="row">														
														<div class="col-sm-12 blog-info ">
															<h4 class="task-title">Confirmed: Chelsea legend Michael Essien has a new club</h4>
															<ul class="pl0px">
																<li><label>Website: Trends24.in</label></li>
																<li><label>Section: Sports- Football</label></li>
																<li><label>Author: John Doe</label></li>
																<li><label>Fri, Mar 12 2017</label></li>
																<li><label class="link-text">Participants: 25</label></li>
																<li><label class="link-text">Replies: 19</label></li>
																
															</ul>
															<div class="post">
																Donec vel facilisis turpis, ut posuere dolor. Nam auctor enim felis, ut rhoncus augue vehicula non. Fusce sit amet sapien venenatis, fringilla ligula id, sodales lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus bibendum dui eget euismod mollis.
																
															</div>
														</div>
														<div class="col-sm-12 ">
															<div class="pull-right">
																<a href="" class="btn btn-post">Schedule</a>
																<a href="" class="btn btn-post">Add to client library</a>
															</div>
														</div>
													</div>
												</li>
												<li class="social-post">
													<div class="row">														
														<div class="col-sm-12 blog-info ">
															<h4 class="task-title">Confirmed: Chelsea legend Michael Essien has a new club</h4>
															<ul class="pl0px">
																<li><label>Website: Trends24.in</label></li>
																<li><label>Section: Sports- Football</label></li>
																<li><label>Author: John Doe</label></li>
																<li><label>Fri, Mar 12 2017</label></li>
																<li><label class="link-text">Participants: 25</label></li>
																<li><label class="link-text">Replies: 19</label></li>
																
															</ul>
															<div class="post">
																Donec vel facilisis turpis, ut posuere dolor. Nam auctor enim felis, ut rhoncus augue vehicula non. Fusce sit amet sapien venenatis, fringilla ligula id, sodales lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus bibendum dui eget euismod mollis.
																
															</div>
														</div>
														<div class="col-sm-12 ">
															<div class="pull-right">
																<a href="" class="btn btn-post">Schedule</a>
																<a href="" class="btn btn-post">Add to client library</a>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
			


					
				