<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js" ng-controller="mainController" ng-init="init()"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{{ title }}</title>
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/icon" href="images/favicon.ico"/>
	<!-- CSS -->   
	<link rel="stylesheet" href="assets/css/app.css">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet"> 
	<!-- <link href="http://www.orangemantra.in/design_om/socioseer/css/socioseer.css" rel="stylesheet">  -->
	 <link href="assets/css/socioseer.css" rel="stylesheet">  
	<link href="assets/fonts/flaticon.css" rel="stylesheet">	
	<link href="assets/css/animate.css" rel="stylesheet">
	<link href="assets/css/bootstrap-datepicker3.standalone.css" rel="stylesheet">
	<link href="assets/css/selectize.css" rel="stylesheet">
	<link href="assets/css/bootstrap-multiselect.css" rel="stylesheet">
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/angular-datepicker.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript">
		//var base_url = 'http://socio.local.com/';
	</script>
	
</head>
<!-- /head -->
<body ng-cloak>
<div id="wrapper"> 
	<ng-include src=sidebar onload="metisMenu()"></ng-include>
	<ng-include src=header></ng-include>
	<!-- Body Part -->
	<div class="page-wrapper white-bg"> 
		<ng-include src="titlesection"></ng-include>
		<div class="wrapper wrapper-content" ui-view></div>
	</div>
<script data-main="require-config" src="assets/js/lib/require.js"></script> 
<ng-include src=footer></ng-include>