    /*
    Flaticon icon font: Flaticon
    Creation date: 20/03/2017 11:45
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-checked:before { content: "\f100"; }
.flaticon-logout:before { content: "\f101"; }
.flaticon-settings:before { content: "\f102"; }
.flaticon-avatar:before { content: "\f103"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-next:before { content: "\f106"; }
    
    $font-Flaticon-checked: "\f100";
    $font-Flaticon-logout: "\f101";
    $font-Flaticon-settings: "\f102";
    $font-Flaticon-avatar: "\f103";
    $font-Flaticon-keyboard-right-arrow-button: "\f104";
    $font-Flaticon-down-arrow: "\f105";
    $font-Flaticon-next: "\f106";